<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/index">
    <head th:replace="layouts/header :: commonHead('用户列表 - 用户管理', ~{}, ~{::script})">
        <title></title>
        <script type="text/javascript" th:inline="javascript">
            var token = /*[[${_token}]]*/null;
            var systemAdministratorId = /*[[${systemAdministratorId}]]*/null;
            var systemUsers = /*[[${systemUsers}]]*/null;
            var deleteUrl = /*[[@{'/system/user_role/user/ajax_delete'}]]*/null;
        </script>
        <script type="text/javascript" th:src="@{'/javascript/dist/system_user_list.js'}"></script>
    </head>
    <body>
        <th:block layout:fragment="content">
            <!-- Breadcrumb-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{'/'}" title="管理系统首页">管理系统首页</a>&nbsp;&gt;&nbsp;<a href="javascript:" title="用户管理">用户管理</a>&nbsp;&gt;&nbsp;<a th:href="@{'/system/user_role/user/list'}">用户列表</a>
                </li>
            </ol>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-3 float-right">
                                    <a th:href="@{'/system/user_role/user/create'}" class="btn btn-block btn-primary" title="添加系统用户">添加系统用户</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered table-striped" id="user_list" v-cloak>
                                    <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>用户名称</th>
                                            <th>角色</th>
                                            <th>登录时间</th>
                                            <th>登录时IP地址</th>
                                            <th>状态</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(systemUser, index) in systemUsers" :key="systemUser.systemUserId">
                                            <td v-text="index + 1"></td>
                                            <td v-text="systemUser.username"></td>
                                            <td v-text="systemUser.userRole.roleName"></td>
                                            <td v-text="new Date(+new Date(new Date(systemUser.loginTime).toJSON())+8*3600*1000).toISOString().replace(/T/g,' ').replace(/\.[\d]{3}Z/,'') === '1970-01-01 08:00:01' ? '从未登录' : new Date(+new Date(new Date(systemUser.loginTime).toJSON())+8*3600*1000).toISOString().replace(/T/g,' ').replace(/\.[\d]{3}Z/,'')"></td>
                                            <td v-text="systemUser.loginIp == '' ? '从未登录' : systemUser.loginIp"></td>
                                            <td>
                                                <button :class="['badge', systemUser.isLocked ? 'badge-danger' : 'badge-success']" title="用户状态" :style="{cursor: systemUser.systemUserId === systemAdministratorId ? 'default' : 'pointer'}" v-text="systemUser.isLocked ? '已锁定' : '正常'" @click="userLock(systemUser.systemUserId, !systemUser.isLocked, index)"></button>
                                            </td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <a th:attr="':href'='\'' + @{'/system/user_role/user/edit?id='} + '\' + systemUser.systemUserId'" class="btn btn-sm btn-block btn-pill btn-secondary" title="点击修改">修改</a>
                                                    </div>
                                                    <div class="col-6">
                                                        <button class="btn btn-sm btn-block btn-pill btn-danger" type="button" title="点击删除" @click="deleteUser(systemUser.systemUserId, index)">删除</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!--/*@thymesVar id="pageInfo" type="com.github.pagehelper"*/-->
                                <nav th:replace="layouts/pagination :: pagination(${pageInfo})"></nav>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-->
                </div>
            </div>
        </th:block>
    </body>
</html>
