<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.dao.CommunitiesDao">
    <resultMap type="Community" id="communityResultMap">
        <id property="communityId" column="community_id"/>
        <result property="communityName" column="name"/>
        <result property="communityTelephone" column="telephone"/>
        <result property="actualNumber" column="actual_number"/>
        <result property="subdistrictId" column="subdistrict_id"/>
    </resultMap>
    <resultMap type="Community" id="communityAliasResultMap" extends="communityResultMap">
        <result property="communityName" column="community_name"/>
        <result property="communityTelephone" column="community_telephone"/>
    </resultMap>
    <resultMap type="Community" id="communitiesCorrelationSubdistrictResultMap" extends="communityResultMap">
        <association property="subdistrict" column="subdistrict_id"
                     resultMap="www.dao.SubdistrictsDao.subdistrictAliasResultMap"/>
    </resultMap>
    <insert id="insertObject">
        INSERT INTO `pm_communities`(`name`, `telephone`, `actual_number`, `subdistrict_id`)
        VALUES (#{communityName}, #{communityTelephone}, #{actualNumber}, #{subdistrictId})
    </insert>
    <delete id="deleteObjectById">
        DELETE
        FROM `pm_communities`
        WHERE `community_id` = #{communityId}
    </delete>
    <delete id="deleteObjectsByName">
        DELETE
        FROM `pm_communities`
        WHERE `name` = #{communityName}
    </delete>
    <update id="updateObject">
        UPDATE `pm_communities`
        <set>
            <if test="communityId != null">
                `community_id` = #{communityId}
            </if>
            <if test="communityName != null">
                , `name` = #{communityName}
            </if>
            <if test="communityTelephone != null">
                , `telephone` = #{communityTelephone}
            </if>
            <if test="subdistrictId != null">
                ,`subdistrict_id` = #{subdistrictId}
            </if>
        </set>
        WHERE `community_id` = #{communityId}
    </update>
    <select id="selectObjectsAll" resultMap="communityResultMap">
        SELECT `community_id`,
            `name`,
            `telephone`,
            `subdistrict_id`
        FROM `pm_communities`
    </select>
    <select id="selectObjectById" resultMap="communityResultMap">
        SELECT `community_id`,
            `name`,
            `telephone`
        FROM `pm_communities`
        WHERE `community_id` = #{communityId}
    </select>
    <select id="selectObjectsByName" resultMap="communityResultMap">
        SELECT `community_id`,
            `name`,
            `telephone`
        FROM `pm_communities`
        WHERE `name` = #{communityName}
    </select>
    <select id="selectCommunitiesAndSubdistrictAll" resultMap="communitiesCorrelationSubdistrictResultMap">
        SELECT `pm_communities`.`community_id`,
            `pm_communities`.`name`,
            `pm_communities`.`telephone`,
            `pm_communities`.`subdistrict_id`,
            `pm_subdistricts`.`name` AS 'subdistrict_name'
        FROM `pm_communities`
                 LEFT JOIN `pm_subdistricts` ON `pm_communities`.`subdistrict_id` = `pm_subdistricts`.`subdistrict_id`
        ORDER BY CONVERT(`pm_communities`.`name` USING gbk) ASC
    </select>
    <select id="selectCommunityAndSubdistrictById" resultMap="communitiesCorrelationSubdistrictResultMap">
        SELECT `pm_communities`.`community_id`,
            `pm_communities`.`name`,
            `pm_communities`.`telephone`,
            `pm_communities`.`actual_number`,
            `pm_communities`.`subdistrict_id`,
            `pm_subdistricts`.`name` AS 'subdistrict_name',
            `pm_subdistricts`.`telephone` AS 'subdistrict_telephone'
        FROM `pm_communities`
                 LEFT JOIN `pm_subdistricts` ON `pm_communities`.`subdistrict_id` = `pm_subdistricts`.`subdistrict_id`
        WHERE `pm_communities`.`community_id` = #{communityId}
    </select>
    <select id="selectCommunitiesCorrelationBySubdistrictId" resultMap="communitiesCorrelationSubdistrictResultMap">
        SELECT `pm_communities`.`community_id`, `pm_communities`.`name`, `pm_subdistricts`.subdistrict_id,
            `pm_subdistricts`.`name` AS 'subdistrict_name'
        FROM `pm_communities`
                 LEFT JOIN `pm_subdistricts` ON `pm_communities`.`subdistrict_id` = `pm_subdistricts`.`subdistrict_id`
        WHERE `pm_communities`.`subdistrict_id` = #{subdistrictId}
    </select>
    <select id="selectCommunitiesBySubdistrictId" resultMap="communityResultMap">
        SELECT `community_id`, `name`, `subdistrict_id`
        FROM `pm_communities`
        WHERE `subdistrict_id` = #{subdistrictId}
    </select>
    <select id="selectCommunityIdByCommunityName" resultType="long">
        SELECT `community_id`
        FROM `pm_communities`
        WHERE `name` LIKE CONCAT('%', #{communityName}, '%')
    </select>
    <select id="selectCommunitiesBySubdistrictName" resultMap="communitiesCorrelationSubdistrictResultMap">
        SELECT `pm_communities`.`community_id`,
            `pm_communities`.`name`,
            `pm_communities`.`subdistrict_id`,
            `pm_subdistricts`.`name` AS 'subdistrict_name'
        FROM `pm_communities`
                 LEFT JOIN `pm_subdistricts` ON `pm_communities`.`subdistrict_id` = `pm_subdistricts`.`subdistrict_id`
        WHERE `pm_subdistricts`.`name` = #{subdistrictName}
    </select>
    <select id="selectActualNumberByCommunityId" resultType="int">
        SELECT `actual_number`
        FROM `pm_communities`
        WHERE `community_id` = #{communityId}
    </select>
    <select id="sumActualNumberBySubdistrictId" resultType="int">
        SELECT SUM(`pm_communities`.`actual_number`)
        FROM `pm_communities`
                 LEFT JOIN `pm_subdistricts` ON `pm_communities`.`subdistrict_id` = `pm_subdistricts`.`subdistrict_id`
        WHERE `pm_subdistricts`.`subdistrict_id` = #{subdistrictId}
    </select>
    <select id="sumActualNumber" resultType="long">
        SELECT SUM(`actual_number`)
        FROM `pm_communities`
    </select>
    <select id="countCommunitiesBySubdistrictId" resultMap="communityResultMap">
        SELECT `pm_communities`.`name`,
            COUNT(`pm_community_residents`.`community_resident_id`) AS 'actual_number'
        FROM `pm_communities`
                 LEFT JOIN `pm_community_residents`
        ON `pm_community_residents`.`community_id` = `pm_communities`.`community_id`
        WHERE `pm_communities`.`subdistrict_id` = #{subdistrictId}
        GROUP BY `pm_communities`.`name`;
    </select>
    <select id="selectObjectsForIdAndName" resultMap="communityResultMap">
        SELECT `community_id`,
            `name`
        FROM `pm_communities`
    </select>
    <select id="selectObjectsByObject" resultMap="communityResultMap">
        SELECT
        `community_id`,
        `name`,
        `telephone`
        FROM `pm_communities`
        <where>
            <choose>
                <when test="communityId != null">
                    `community_id` = #{communityId}
                </when>
                <when test="communityName != null">
                    OR `name` = #{communityName}
                </when>
                <when test="telephone != null">
                    OR `telephone` = #{telephone}
                </when>
            </choose>
        </where>
    </select>
    <select id="selectCommunitiesCorrelationSubdistrictsAll" resultMap="communitiesCorrelationSubdistrictResultMap">
        SELECT `pm_communities`.`community_id`, `pm_communities`.`name`, `pm_subdistricts`.`subdistrict_id`,
            `pm_subdistricts`.`name` AS 'subdistrict_name'
        FROM `pm_communities`
                 LEFT JOIN `pm_subdistricts` ON `pm_communities`.`subdistrict_id` = `pm_subdistricts`.`subdistrict_id`
    </select>
    <select id="selectCommunityCorrelationById" resultMap="communitiesCorrelationSubdistrictResultMap">
        SELECT `pm_communities`.`community_id`, `pm_communities`.`name`, `pm_subdistricts`.`subdistrict_id`,
            `pm_subdistricts`.`name` AS 'subdistrict_name'
        FROM `pm_communities`
                 LEFT JOIN `pm_subdistricts` ON `pm_communities`.`subdistrict_id` = `pm_subdistricts`.`subdistrict_id`
        WHERE `pm_communities`.`community_id` = #{communityId}
    </select>
</mapper>
