<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.dao.CommunityResidentsDao">
    <resultMap type="CommunityResident" id="communityResidentResultMap">
        <id property="communityResidentId" column="community_resident_id"/>
        <result property="communityResidentName" column="name"/>
        <result property="communityResidentAddress" column="address"/>
        <result property="communityResidentPhones" column="phones"/>
        <result property="editTime" column="edit_time"/>
        <result property="subcontractorId" column="subcontractor_id"/>
        <result property="communityId" column="community_id"/>
        <collection property="communityIds" column="community_id" ofType="java.lang.Long"/>
    </resultMap>
    <resultMap type="CommunityResident" id="aliasResultMap">
        <id property="communityResidentId" column="community_resident_id"/>
        <result property="communityResidentName" column="community_resident_name"/>
        <result property="communityResidentAddress" column="address"/>
        <result property="communityResidentPhones" column="phones"/>
        <result property="editTime" column="edit_time"/>
        <result property="subcontractorId" column="subcontractor_id"/>
        <result property="communityId" column="community_id"/>
    </resultMap>
    <resultMap type="CommunityResident" id="communityResidentsCorrelationSubcontractorResultMap"
               extends="aliasResultMap">
        <association property="subcontractor" resultMap="www.dao.SubcontractorsDao.subcontractorResultMap"/>
    </resultMap>
    <resultMap type="CommunityResident" id="communityResidentsCorrelationCommunityResultMap" extends="aliasResultMap">
        <association property="community" resultMap="www.dao.CommunitiesDao.aliasResultMap"/>
    </resultMap>
    <resultMap type="CommunityResident" id="communityResidentsCorrelationCommunitiesCorrelationSubdistrictResultMap"
               extends="aliasResultMap">
        <association property="community"
                     resultMap="www.dao.CommunitiesDao.communitiesCorrelationSubdistrictResultMap"/>
        <association property="subcontractor" resultMap="www.dao.SubcontractorsDao.aliasResultMap"/>
    </resultMap>
    <update id="truncateTable">
        TRUNCATE TABLE `pm_community_residents`
    </update>
    <insert id="insertObject" parameterType="CommunityResident">
        INSERT INTO `pm_community_residents` (`name`, `address`, `phones`, `edit_time`, `subcontractor_id`,
                                              `community_id`)
        VALUES (#{communityResidentName}, #{communityResidentAddress}, #{communityResidentPhones},
                #{editTime}, #{subcontractorId}, #{communityId})
    </insert>
    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="community_resident_id">
        INSERT INTO `pm_community_residents`(`name`, `address`, `phones`, `edit_time`, `subcontractor_id`,
        `community_id`) VALUES
        <foreach collection="objects" item="item" separator=",">
            (#{item.communityResidentName}, #{item.communityResidentAddress}, #{item.editTime},
            #{item.communityResidentPhones},
            #{item.subcontractorId}, #{item.communityId})
        </foreach>
    </insert>
    <delete id="deleteObjectById">
        DELETE
        FROM `pm_community_residents`
        WHERE `community_resident_id` = #{communityResidentId}
    </delete>
    <delete id="deleteObjectsByName">
        DELETE
        FROM `pm_community_residents`
        WHERE `name` = #{name}
    </delete>
    <update id="updateObject" parameterType="CommunityResident">
        UPDATE `pm_community_residents`
        <set>
            <if test="communityResidentId != null">
                `community_resident_id` = #{communityResidentId}
            </if>
            <if test="communityResidentName != null">
                , `name` = #{communityResidentName}
            </if>
            <if test="communityResidentAddress != null">
                , `address` = #{communityResidentAddress}
            </if>
            <if test="communityResidentPhones != null">
                , `phones` = #{communityResidentPhones}
            </if>
            <if test="editTime != null">
                , `edit_time` = #{editTime}
            </if>
            <if test="subcontractorId != null">
                , `subcontractor_id` = #{subcontractorId}
            </if>
            <if test="communityId != null">
                , `community_id` = #{communityId}
            </if>
        </set>
        WHERE `community_resident_id` = #{communityResidentId}
    </update>
    <select id="selectObjectsAll" resultMap="communityResidentResultMap">
        SELECT `community_resident_id`,
            `name`,
            `address`,
            `phones`,
            `edit_time`
        FROM `pm_community_residents`
        ORDER BY `community_resident_id`
    </select>
    <select id="selectObjectById" resultMap="communityResidentResultMap">
        SELECT `community_resident_id`,
            `name`,
            `address`,
            `phones`,
            `edit_time`
        FROM `pm_community_residents`
        WHERE `community_resident_id` = #{communityResidentId}
    </select>
    <select id="selectObjectsByName" resultMap="communityResidentResultMap">
        SELECT `community_resident_id`,
            `name`,
            `address`,
            `phones`,
            `edit_time`
        FROM `pm_community_residents`
        WHERE `name` = #{communityResidentName}
        ORDER BY `community_resident_id`
    </select>
    <select id="selectObjectsByObject" resultMap="communityResidentsCorrelationCommunityResultMap">
        SELECT `pm_community_residents`.`community_resident_id`, `pm_community_residents`.`name` AS
        'community_resident_name', `pm_community_residents`.`address`, `pm_community_residents`.`phones`,
        `pm_community_residents`.`subcontractor_id`, `pm_community_residents`.`edit_time`,
        `pm_communities`.`community_id`,
        `pm_communities`.`name` AS 'community_name' FROM `pm_community_residents`
        LEFT JOIN `pm_communities` ON `pm_community_residents`.`community_id` = `pm_communities`.`community_id`
        <where>
            <if test="communityResidentId != null and communityResidentId != ''">
                `pm_community_residents`.`community_resident_id` = #{communityResidentId}
            </if>
            <if test="communityResidentName != null and communityResidentName != ''">
                AND `pm_community_residents`.`name` LIKE CONCAT('%', #{communityResidentName}, '%')
            </if>
            <if test="communityResidentAddress != null and communityResidentAddress != ''">
                AND `pm_community_residents`.`address` LIKE CONCAT('%', #{communityResidentAddress}, '%')
            </if>
            <if test="communityResidentPhones != null and communityResidentPhones != ''">
                AND `pm_community_residents`.`phones` LIKE CONCAT('%', #{communityResidentPhones}, '%')
            </if>
            <if test="editTime != null and editTime != ''">
                AND `pm_community_residents`.`edit_time` = #{editTime}
            </if>
            <if test="communityId != null and communityId != ''">
                AND `pm_community_residents`.`community_id` = #{communityId}
            </if>
            <if test="community != null and community.communityName != null and community.communityName != ''">
                AND `pm_communities`.`name` = #{community.communityName}
            </if>
        </where>
        ORDER BY `community_resident_id`
    </select>
    <select id="selectObjectAndCommunityById" resultMap="communityResidentsCorrelationCommunityResultMap">
        SELECT `pm_community_residents`.`community_resident_id`,
            `pm_community_residents`.`name` AS 'community_resident_name',
            `pm_community_residents`.`address`,
            `pm_community_residents`.`phones`,
            `pm_community_residents`.`edit_time`,
            `pm_community_residents`.`subcontractor_id`,
            `pm_community_residents`.`community_id`,
            `pm_communities`.`name` AS 'community_name',
            `pm_communities`.`telephone` AS 'community_telephone',
            `pm_communities`.`actual_number`
        FROM `pm_community_residents`
                 LEFT JOIN `pm_communities` ON `pm_community_residents`.`community_id` = `pm_communities`.`community_id`
        WHERE `pm_community_residents`.`community_resident_id` = #{communityResidentId}
    </select>
    <select id="selectCommunityResidentsByCommunityResident"
            resultMap="communityResidentsCorrelationCommunityResultMap">
        SELECT `pm_community_residents`.`community_resident_id`, `pm_community_residents`.`name` AS
        'community_resident_name', `pm_community_residents`.`address`, `pm_community_residents`.`phones`,
        `pm_community_residents`.`subcontractor_id`, `pm_community_residents`.`edit_time`,
        `pm_communities`.`community_id`,
        `pm_communities`.`name` AS 'community_name' FROM `pm_community_residents`
        LEFT JOIN `pm_communities` ON `pm_community_residents`.`community_id` = `pm_communities`.`community_id`
        <where>
            <if test="communityResident.communityResidentId != null and communityResident.communityResidentId != ''">
                `pm_community_residents`.`community_resident_id` = #{communityResident.communityResidentId}
            </if>
            <if test="communityResident.communityResidentName != null and communityResident.communityResidentName != ''">
                AND `pm_community_residents`.`name` LIKE CONCAT('%', #{communityResident.communityResidentName}, '%')
            </if>
            <if test="communityResident.communityResidentAddress != null and communityResident.communityResidentAddress != ''">
                AND `pm_community_residents`.`address` LIKE CONCAT('%', #{communityResident.communityResidentAddress},
                '%')
            </if>
            <if test="communityResident.communityResidentPhones != null and communityResident.communityResidentPhones != ''">
                AND `pm_community_residents`.`phones` LIKE CONCAT('%', #{communityResident.communityResidentPhones},
                '%')
            </if>
            <if test="communityResident.editTime != null and communityResident.editTime != ''">
                AND `pm_community_residents`.`edit_time` = #{communityResident.editTime}
            </if>
            <if test="communityResident.communityId != null and communityResident.communityId != ''">
                AND `pm_community_residents`.`community_id` = #{communityResident.communityId}
            </if>
            <if test="communityResident.communityIds != null and communityResident.communityIds.size > 0">
                AND `pm_community_residents`.`community_id` IN
                <foreach collection="communityResident.communityIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        ORDER BY `pm_community_residents`.`community_resident_id`
    </select>
    <select id="selectObjectsAndCommunityByCommunityIds"
            resultMap="communityResidentsCorrelationCommunityResultMap">
        SELECT
        `pm_community_residents`.`community_resident_id`,
        `pm_community_residents`.`name` AS 'community_resident_name',
        `pm_community_residents`.`address`,
        `pm_community_residents`.`phones`,
        `pm_community_residents`.`subcontractor_id`,
        `pm_community_residents`.`edit_time`,
        `pm_community_residents`.`community_id`,
        `pm_communities`.`name` AS 'community_name'
        FROM
        `pm_community_residents`
        LEFT JOIN `pm_communities` ON `pm_community_residents`.`community_id` = `pm_communities`.`community_id`
        <where>
            <if test="communityIds != null">
                `pm_community_residents`.`community_id`
                <choose>
                    <when test="communityIds.size eq 1">
                        = #{communityIds[0]}
                    </when>
                    <otherwise>
                        IN
                        <foreach collection="communityIds" separator="," open="(" close=")" item="communityId">
                            #{communityId}
                        </foreach>
                    </otherwise>
                </choose>
            </if>
        </where>
        ORDER BY `pm_community_residents`.`community_resident_id`
    </select>
    <select id="selectCommunityResidentsAndCommunitiesAndSubdistrictByCommunityIds"
            resultMap="communityResidentsCorrelationCommunitiesCorrelationSubdistrictResultMap">
        SELECT
        `pm_community_residents`.`community_resident_id`,
        `pm_community_residents`.`name` AS 'community_resident_name',
        `pm_community_residents`.`address`,
        `pm_community_residents`.`phones`,
        `pm_community_residents`.`subcontractor_id`,
        `pm_community_residents`.`community_id`,
        `pm_communities`.`name` AS 'community_name',
        `pm_subdistricts`.`name` AS 'subdistrict_name',
        `pm_subcontractors`.`name` AS 'subcontractor_name'
        FROM
        `pm_community_residents`
        LEFT JOIN `pm_communities` ON `pm_community_residents`.`community_id` = `pm_communities`.`community_id`
        LEFT JOIN `pm_subdistricts` ON `pm_communities`.`subdistrict_id` = `pm_subdistricts`.`subdistrict_id`
        LEFT JOIN `pm_subcontractors` ON `pm_community_residents`.`subcontractor_id` =
        `pm_subcontractors`.`subcontractor_id`
        <where>
            <if test="communityIds != null">
                `pm_community_residents`.`community_id` IN
                <foreach collection="communityIds" separator="," open="(" close=")" item="communityId">
                    #{communityId}
                </foreach>
            </if>
        </where>
        ORDER BY `pm_communities`.`name`
    </select>
    <select id="selectByNameAndAddress" resultMap="communityResidentsCorrelationCommunityResultMap">
        SELECT
        `pm_community_residents`.`name` AS 'community_resident_name',
        `pm_community_residents`.`community_id`,
        `pm_communities`.`name` AS 'community_name'
        FROM `pm_community_residents`
        LEFT JOIN `pm_communities` ON `pm_community_residents`.`community_id` = `pm_communities`.`community_id`
        <where>
            CONCAT(`pm_community_residents`.`name`, `pm_community_residents`.`address`) = #{nameAddress}
            <if test="communityResidentId != null">
                AND `pm_community_residents`.`community_resident_id` != #{id}
            </if>
            AND `pm_communities`.`subdistrict_id` = #{subdistrictId}
        </where>
    </select>
    <select id="selectByPhones" resultMap="communityResidentsCorrelationCommunityResultMap">
        SELECT
        `pm_community_residents`.`community_resident_id`,
        `pm_community_residents`.`name` AS 'community_resident_name',
        `pm_community_residents`.`phones`,
        `pm_community_residents`.`community_id`,
        `pm_communities`.`name` AS 'community_name'
        FROM `pm_community_residents`
        LEFT JOIN `pm_communities` ON `pm_community_residents`.`community_id` = `pm_communities`.`community_id`
        <where>
            <foreach collection="phones" item="phone" separator="OR">
                `pm_community_residents`.`phones` LIKE CONCAT('%', #{phone}, '%')
            </foreach>
            <if test="communityResidentId != null">
                AND `pm_community_residents`.`community_resident_id` != #{id}
            </if>
            AND `pm_communities`.`subdistrict_id` = #{subdistrictId}
        </where>
    </select>
    <select id="selectObjectsAndCommunityByCommunityId"
            resultMap="communityResidentsCorrelationCommunityResultMap">
        SELECT `pm_community_residents`.`community_resident_id`,
            `pm_community_residents`.`name` AS 'community_resident_name',
            `pm_community_residents`.`address`,
            `pm_community_residents`.`phones`,
            `pm_community_residents`.`subcontractor_id`,
            `pm_community_residents`.`community_id`,
            `pm_communities`.`name` AS 'community_name'
        FROM `pm_community_residents`
                 LEFT JOIN `pm_communities` ON `pm_community_residents`.`community_id` = `pm_communities`.`community_id`
        WHERE `pm_community_residents`.`community_id` = #{communityId}
    </select>
    <select id="countCommunityResidentsByCommunityResident" resultType="long">
        SELECT COUNT(`pm_community_residents`.`community_resident_id`) FROM `pm_community_residents`
        LEFT JOIN `pm_communities` ON `pm_community_residents`.`community_id` = `pm_communities`.`community_id`
        <where>
            <if test="communityResident.communityResidentId != null and communityResident.communityResidentId != ''">
                `pm_community_residents`.`community_resident_id` = #{communityResident.communityResidentId}
            </if>
            <if test="communityResident.communityResidentName != null and communityResident.communityResidentName != ''">
                AND `pm_community_residents`.`name` LIKE CONCAT('%', #{communityResident.communityResidentName}, '%')
            </if>
            <if test="communityResident.communityResidentAddress != null and communityResident.communityResidentAddress != ''">
                AND `pm_community_residents`.`address` LIKE CONCAT('%', #{communityResident.communityResidentAddress},
                '%')
            </if>
            <if test="communityResident.communityResidentPhones != null and communityResident.communityResidentPhones != ''">
                and `pm_community_residents`.`phones` LIKE CONCAT('%', #{communityResident.communityResidentPhones},
                '%')
            </if>
            <if test="communityResident.communityResidentSubcontractor != null and communityResident.communityResidentSubcontractor != ''">
                AND `pm_community_residents`.`subcontractor` LIKE CONCAT('%',
                #{communityResident.communityResidentSubcontractor}, '%')
            </if>
            <if test="communityResident.editTime != null and communityResident.editTime != ''">
                AND `pm_community_residents`.`edit_time` = #{communityResident.editTime}
            </if>
            <if test="communityResident.communityId != null and communityResident.communityId != 0">
                AND `pm_community_residents`.`community_id` = #{communityResident.communityId}
            </if>
            <if test="communityResident.community != null and communityResident.community.communityName != null">
                AND `pm_communities`.`name` = #{communityResident.community.communityName}
            </if>
            <if test="communityResident.communityIds != null and communityResident.communityIds.size > 0">
                AND `pm_community_residents`.`community_id` IN
                <foreach collection="communityResident.communityIds" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        ORDER BY `community_resident_id`
    </select>
    <select id="countCommunityResidentsAndCommunityByCommunityIds" resultType="long">
        SELECT COUNT(`community_resident_id`)
        FROM `pm_community_residents`
        <where>
            <if test="communityIds != null">
                `pm_community_residents`.`community_id`
                <choose>
                    <when test="communityIds.size == 1">
                        = #{communityIds[0]}
                    </when>
                    <otherwise>
                        IN
                        <foreach collection="communityIds" separator="," open="(" close=")" item="cId">
                            #{cId}
                        </foreach>
                    </otherwise>
                </choose>
            </if>
        </where>
    </select>
    <select id="countObjectByCommunityId" resultType="long">
        SELECT COUNT(`community_resident_id`)
        FROM `pm_community_residents`
        WHERE `community_id` = #{communityId}
    </select>
    <select id="countCommunityResidentsBySubdistrictId" resultType="long">
        SELECT COUNT(`pm_community_residents`.`community_resident_id`)
        FROM `pm_community_residents`
                 LEFT JOIN `pm_communities` ON `pm_community_residents`.`community_id` = `pm_communities`.`community_id`
        WHERE `pm_communities`.`subdistrict_id` = #{subdistrictId}
    </select>
    <select id="countCommunityResidents" resultType="long">
        SELECT count(`community_resident_id`)
        FROM `pm_community_residents`
    </select>
    <select id="countCommunityResidentsForGroupSubdistrict" resultType="map">
        SELECT `pm_subdistricts`.`name`, count(`pm_community_residents`.`community_resident_id`) 'value'
        FROM `pm_subdistricts`
                 LEFT JOIN `pm_communities` ON `pm_subdistricts`.`subdistrict_id` = `pm_communities`.`subdistrict_id`
                 LEFT JOIN `pm_community_residents`
        ON `pm_communities`.`community_id` = `pm_community_residents`.`community_id`
        GROUP BY `pm_subdistricts`.`subdistrict_id`
    </select>
    <select id="countCommunityResidentsForGroupCommunity" resultType="map">
        SELECT `pm_communities`.`name`, count(`pm_community_residents`.`community_resident_id`) 'value'
        FROM `pm_communities`
                 LEFT JOIN `pm_community_residents`
        ON `pm_communities`.`community_id` = `pm_community_residents`.`community_id`
        WHERE `pm_communities`.`subdistrict_id` = #{subdistrictId}
        GROUP BY `pm_communities`.`community_id`
    </select>
    <select id="countCommunityResidentsGroupByCommunityId" resultType="map">
        SELECT `pm_communities`.`name`, count(`pm_community_residents`.`community_resident_id`) 'value'
        FROM `pm_communities`
                 LEFT JOIN `pm_community_residents`
        ON `pm_communities`.`community_id` = `pm_community_residents`.`community_id`
        WHERE `pm_communities`.`community_id` = #{communityId}
    </select>
    <select id="selectByUserData"
            resultMap="communityResidentsCorrelationCommunitiesCorrelationSubdistrictResultMap">
        SELECT `pm_communities`.`name` AS 'community_name',
        `pm_subdistricts`.`name` AS 'subdistrict_name',
        `pm_community_residents`.`name` AS 'community_resident_name',
        `pm_community_residents`.`address`,
        `pm_community_residents`.`phones`,
        `pm_subcontractors`.`name` AS 'subcontractor_name'
        FROM `pm_community_residents`
        LEFT JOIN `pm_communities` ON `pm_community_residents`.`community_id` = `pm_communities`.`community_id`
        LEFT JOIN `pm_subdistricts` ON `pm_communities`.`subdistrict_id` = `pm_subdistricts`.`subdistrict_id`
        LEFT JOIN pm_subcontractors ON `pm_community_residents`.`subcontractor_id` =
        `pm_subcontractors`.`subcontractor_id`
        <where>
            <foreach collection="userData" item="item" separator="OR">
                <choose>
                    <when test="item.roleId == subdistrictRoleId">
                        `pm_subdistricts`.`subdistrict_id` = #{item.roleLocationId}
                    </when>
                    <when test="item.roleId == communityRoleId">
                        `pm_communities`.`community_id` = #{item.roleLocationId}
                    </when>
                </choose>
            </foreach>
        </where>
    </select>
    <delete id="deleteBySubdistrictId">
        DELETE `pm_community_residents`
        FROM `pm_community_residents`
                 LEFT JOIN `pm_communities` ON `pm_community_residents`.`community_id` = `pm_communities`.`community_id`
        WHERE `pm_communities`.`subdistrict_id` = #{subdistrictId}
    </delete>
</mapper>
