<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.dao.SubcontractorsDao">
    <resultMap type="Subcontractor" id="subcontractorResultMap">
        <id property="subcontractorId" column="subcontractor_id"/>
        <result property="name" column="name"/>
        <result property="telephone" column="telephone"/>
        <result property="communityId" column="community_id"/>
    </resultMap>
    <resultMap type="Subcontractor" id="AliasResultMap">
        <id property="subcontractorId" column="subcontractor_id"/>
        <result property="name" column="subcontractor_name"/>
        <result property="telephone" column="subcontractor_telephone"/>
        <result property="communityId" column="community_id"/>
    </resultMap>
    <resultMap type="Subcontractor" id="subcontractorCorrelationCommunitiesResultMap" extends="AliasResultMap">
        <association property="community" resultMap="www.dao.CommunitiesDao.communityResultMap"/>
    </resultMap>
    <insert id="insertObject" useGeneratedKeys="true" keyProperty="subcontractor_id">
        INSERT INTO `pm_subcontractors`(`name`, `telephone`, `community_id`)
        VALUES (#{name}, #{telephone}, #{communityId})
    </insert>
    <delete id="deleteObjectById">
        DELETE
        FROM `pm_subcontractors`
        WHERE `subcontractor_id` = #{subcontractorId}
    </delete>
    <delete id="deleteObjectsByName">
        DELETE
        FROM `pm_subcontractors`
        WHERE `name` = #{name}
    </delete>
    <update id="updateObject">
        UPDATE `pm_subcontractors`
        <set>
            <if test="subcontractorId != null">
                `subcontractor_id` = #{subcontractorId}
            </if>
            <if test="name != null">
                , `name` = #{name}
            </if>
            <if test="telephone != null">
                , `telephone` = #{telephone}
            </if>
            <if test="communityId != null">
                , `community_id` = #{communityId}
            </if>
        </set>
        WHERE `subcontractor_id` = #{subcontractorId}
    </update>
    <select id="selectObjectsAll" resultMap="subcontractorResultMap">
        SELECT `subcontractor_id`,
            `name`,
            `telephone`,
            `community_id`
        FROM `pm_subcontractors`
        ORDER BY `subcontractor_id`
    </select>
    <select id="selectObjectById" resultMap="subcontractorResultMap">
        SELECT `subcontractor_id`,
            `name`,
            `telephone`,
            `community_id`
        FROM `pm_subcontractors`
        WHERE `subcontractor_id` = #{subcontractorId}
    </select>
    <select id="selectObjectsByName" resultMap="subcontractorResultMap">
        SELECT `subcontractor_id`,
            `name`,
            `telephone`,
            `community_id`
        FROM `pm_subcontractors`
        WHERE `name` = #{name}
        ORDER BY `subcontractor_id`
    </select>
    <select id="selectObjectsByObject" resultMap="subcontractorCorrelationCommunitiesResultMap">
        SELECT `pm_subcontractors`.`subcontractor_id`, `pm_subcontractors`.`name` AS
        'subcontractor_name', `pm_subcontractors`.`telephone`, `pm_communities`.`community_id`,
        `pm_communities`.`name` FROM `pm_subcontractors`
        LEFT JOIN `pm_communities` ON `pm_subcontractors`.`community_id` = `pm_communities`.`community_id`
        <where>
            <if test="subcontractorId != null and subcontractorId != ''">
                `pm_subcontractors`.`subcontractor_id` = #{subcontractorId}
            </if>
            <if test="name != null and name != ''">
                AND `pm_subcontractors`.`name` LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="telephone != null and telephone != ''">
                AND `pm_subcontractors`.`telephone` LIKE CONCAT('%', #{telephone}, '%')
            </if>
            <if test="communityId != null and communityId != ''">
                AND `pm_subcontractors`.`community_id` = #{communityId}
            </if>
            <if test="community != null and community.communityName != null and community.communityName != ''">
                AND `pm_communities`.`name` = #{community.communityName}
            </if>
        </where>
        ORDER BY `pm_subcontractors`.`subcontractor_id`
    </select>
    <select id="selectSubcontractors" resultMap="subcontractorCorrelationCommunitiesResultMap">
        SELECT `pm_subcontractors`.`subcontractor_id`, `pm_subcontractors`.`name` AS 'subcontractor_name',
            `pm_subcontractors`.`telephone` AS 'subcontractor_telephone', `pm_communities`.`community_id`,
            `pm_communities`.`name`
        FROM `pm_subcontractors`
                 LEFT JOIN `pm_communities` on `pm_subcontractors`.`community_id` = `pm_communities`.`community_id`
        WHERE `pm_subcontractors`.`community_id` = #{communityId}
    </select>
    <select id="selectSubcontractorsBySubdistrictId" resultMap="subcontractorCorrelationCommunitiesResultMap">
        SELECT `pm_subcontractors`.`subcontractor_id`, `pm_subcontractors`.`name` AS 'subcontractor_name',
            `pm_subcontractors`.`telephone` AS 'subcontractor_telephone', `pm_communities`.`community_id`,
            `pm_communities`.`name`
        FROM `pm_subcontractors`
                 LEFT JOIN `pm_communities` on `pm_subcontractors`.`community_id` = `pm_communities`.`community_id`
        WHERE `pm_communities`.`subdistrict_id` = #{subdistrictId}
    </select>
    <select id="selectSubcontractorsAll" resultMap="subcontractorCorrelationCommunitiesResultMap">
        SELECT `pm_subcontractors`.`subcontractor_id`, `pm_subcontractors`.`name` AS 'subcontractor_name',
            `pm_subcontractors`.`telephone` AS 'subcontractor_telephone', `pm_communities`.`community_id`,
            `pm_communities`.`name`
        FROM `pm_subcontractors`
                 LEFT JOIN `pm_communities` on `pm_subcontractors`.`community_id` = `pm_communities`.`community_id`
    </select>
</mapper>
