<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.dao.SubdistrictsDao">
    <resultMap type="Subdistrict" id="subdistrictResultMap">
        <id property="subdistrictId" column="subdistrict_id"/>
        <result property="subdistrictName" column="name"/>
        <result property="subdistrictTelephone" column="telephone"/>
    </resultMap>
    <resultMap type="Subdistrict" id="subdistrictAliasResultMap">
        <id property="subdistrictId" column="subdistrict_id"/>
        <result property="subdistrictName" column="subdistrict_name"/>
        <result property="subdistrictTelephone" column="subdistrict_telephone"/>
    </resultMap>
    <resultMap type="Subdistrict" id="subdistrictCorrelationCommunitiesResultMap" extends="subdistrictResultMap">
        <collection property="communities" column="subdistrict_id"
                    resultMap="www.dao.CommunitiesDao.communityAliasResultMap"/>
    </resultMap>
    <insert id="insertObject">
        INSERT INTO `pm_subdistricts` (`name`, `telephone`) VALUES (#{subdistrictName}, #{subdistrictTelephone})
    </insert>
    <delete id="deleteObjectById">
        DELETE FROM `pm_subdistricts`
        WHERE `subdistrict_id` = #{subdistrictId}
    </delete>
    <delete id="deleteObjectsByName">
        DELETE FROM `pm_subdistricts`
        WHERE `name` = #{subdistrictName}
    </delete>
    <update id="updateObject">
        UPDATE `pm_subdistricts`
        <set>
            <if test="subdistrictId != null">
                `subdistrict_id` = #{subdistrictId}
            </if>
            <if test="subdistrictName != null">
                , `name` = #{subdistrictName}
            </if>
            <if test="subdistrictTelephone != null">
                , `telephone` = #{subdistrictTelephone}
            </if>
        </set>
        WHERE `subdistrict_id` = #{subdistrictId}
    </update>
    <select id="selectObjectsAll" resultMap="subdistrictResultMap">
        SELECT
            `subdistrict_id`,
            `name`,
            `telephone`
        FROM `pm_subdistricts`
        ORDER BY `subdistrict_id`
    </select>
    <select id="selectObjectById" resultMap="subdistrictResultMap">
        SELECT
            `subdistrict_id`,
            `name`,
            `telephone`
        FROM `pm_subdistricts`
        WHERE `subdistrict_id` = #{subdistrictId}
    </select>
    <select id="selectObjectsByName" resultMap="subdistrictResultMap">
        SELECT
            `subdistrict_id`,
            `name`,
            `telephone`
        FROM `pm_subdistricts`
        WHERE `name` = #{subdistrictName}
        ORDER BY `subdistrict_id`
    </select>
    <select id="selectSubdistrictAndCommunityByCommunityId" resultMap="subdistrictCorrelationCommunitiesResultMap">
        SELECT
            `pm_subdistricts`.`subdistrict_id`,
            `pm_subdistricts`.`name`,
            `pm_communities`.`community_id`,
            `pm_communities`.`name` AS 'community_name'
        FROM `pm_subdistricts`
            LEFT JOIN `pm_communities` ON `pm_subdistricts`.`subdistrict_id` = `pm_communities`.`subdistrict_id`
        WHERE `pm_communities`.`community_id` = #{roleLocationId}
    </select>
    <select id="selectSubdistrictAndCommunityBySubdistrictId" resultMap="subdistrictCorrelationCommunitiesResultMap">
        SELECT
            `pm_subdistricts`.`subdistrict_id`,
            `pm_subdistricts`.`name`,
            `pm_communities`.`community_id`,
            `pm_communities`.`name` AS 'community_name'
        FROM `pm_subdistricts`
            LEFT JOIN `pm_communities` ON `pm_subdistricts`.`subdistrict_id` = `pm_communities`.`subdistrict_id`
        WHERE `pm_subdistricts`.`subdistrict_id` = #{roleLocationId}
    </select>
    <select id="selectSubdistrictsAndCommunitiesAll" resultMap="subdistrictCorrelationCommunitiesResultMap">
        SELECT
            `pm_subdistricts`.`subdistrict_id`,
            `pm_subdistricts`.`name`,
            `pm_communities`.`community_id`,
            `pm_communities`.`name` AS 'community_name'
        FROM `pm_subdistricts`
            LEFT JOIN `pm_communities` ON `pm_subdistricts`.`subdistrict_id` = `pm_communities`.`subdistrict_id`
    </select>
    <select id="countCommunityResidents" resultMap="subdistrictResultMap">
        SELECT
            `pm_subdistricts`.`name`,
            COUNT(`pm_community_residents`.`community_resident_id`) AS `subdistrict_id`
        FROM
            `pm_subdistricts`
            LEFT JOIN `pm_communities` ON `pm_subdistricts`.`subdistrict_id` = `pm_communities`.`subdistrict_id`
            LEFT JOIN `pm_community_residents`
                ON `pm_community_residents`.`community_id` = `pm_communities`.`community_id`
        GROUP BY
            `pm_subdistricts`.`name`
    </select>
    <select id="selectObjectsForIdAndName" resultMap="subdistrictResultMap">
        SELECT
            `subdistrict_id`,
            `name`
        FROM `pm_subdistricts`
    </select>
    <select id="selectObjectsByObject" resultMap="subdistrictResultMap">
        SELECT
        `subdistrict_id`,
        `name`,
        `telephone`
        FROM `pm_subdistricts`
        <where>
            <choose>
                <when test="subdistrictId != null">
                    `subdistrict_id` = #{subdistrictId}
                </when>
                <when test="subdistrictName != null">
                    OR `name` = #{subdistrictName}
                </when>
                <when test="telephone != null">
                    OR `telephone` = #{telephone}
                </when>
            </choose>
        </where>
    </select>
</mapper>
