<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.dao.UserRolePrivilegesDao">
	<resultMap type="UserRolePrivilege" id="UserRolePrivilegeResultMap">
		<id property="roleId" column="role_id" />
		<id property="privilegeId" column="privilege_id" />
	</resultMap>
    <insert id="insertObject">
        INSERT INTO `pm_roles_privileges`(`role_id`, `privilege_id`)
        VALUES (#{roleId}, #{privilegeId})
	</insert>
    <insert id="insertUserRolePrivileges">
		INSERT INTO `pm_roles_privileges`(`role_id`, `privilege_id`) VALUES
        <foreach collection="userRolePrivileges" item="userRolePrivilege" separator=",">
            (#{userRolePrivilege.roleId}, #{userRolePrivilege.privilegeId})
		</foreach>
	</insert>
    <delete id="deleteUserRolePrivilegeByUserRolePrivilege">
		DELETE FROM `pm_roles_privileges`
		<where>
			<if test="roleId != null">
                `role_id` = #{roleId}
			</if>
			<if test="privilegeId != null">
                AND `privilege_id` = #{privilegeId}
			</if>
		</where>
	</delete>
    <update id="updateObject">
        UPDATE `pm_roles_privileges`
        <set>
			<if test="roleId != null">
                `role_id` = #{roleId}
			</if>
			<if test="privilegeId != null">
                , `privilege_id` = #{privilegeId}
			</if>
		</set>
		<where>
			<if test="roleId != null">
                `role_id` = #{roleId}
			</if>
			<if test="privilegeId != null">
                AND `privilege_id` = #{privilegeId}
			</if>
		</where>
    </update>
</mapper>
