<!doctype html>
<html lang="zh-CN" layout:decorator="layouts/index" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
    <!--/*@thymesVar id="subdistrict" type="com.github.phonenumbermanager.entity.Subdistrict"*/-->
    <head th:replace="layouts/header :: commonHead('街道办事处' + ${subdistrict == null ? '添加' : '编辑'} + ' - 街道办事处管理', ~{::script})">
        <title></title>
        <script th:inline="javascript" type="text/javascript">
            var messageErrors = /*[[${messageErrors}]]*/null
            var subdistrict = /*[[${subdistrict}]]*/null
        </script>
        <script src="http://127.0.0.1:3000/subdistrict-edit-bundle.js" th:if="${debug}" type="text/javascript"></script>
        <script th:if="${!debug}" th:src="@{'/javascript/subdistrict-edit-bundle.js'}" type="text/javascript"></script>
    </head>
    <body>
        <th:block layout:fragment="content">
            <!-- Breadcrumb-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{'/'}" title="管理系统首页">管理系统首页</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="javascript:" title="街道办事处管理">街道办事处管理</a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{'/subdistrict/' + ${subdistrict == null ? 'create' : 'edit/' + subdistrict.id}}" th:text="${subdistrict} == null ? '街道办事处添加' : '街道办事处编辑'" th:title="${subdistrict} == null ? '街道办事处添加' : '街道办事处编辑'"></a>
                </li>
            </ol>
            <div class="container-fluid">
                <div class="card" id="edit_subdistrict" v-cloak>
                    <div class="card-header" th:text="${subdistrict} == null ? '街道办事处添加' : '街道办事处' + ${subdistrict.name} + '编辑'"></div>
                    <form @submit="submit" class="form-horizontal" method="post" th:action="@{'/subdistrict'}">
                        <div class="card-body">
                            <div :key="messageError.defaultMessage" class="alert alert-danger" role="alert" v-for="messageError in messageErrors" v-if="messageErrors !== null">
                                {{ messageError.defaultMessage }}
                                <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="name">街道办事处名称</label>
                                <div class="col-md-9">
                                    <input :class="['form-control', {'is-invalid': errorClasses[0]}]" id="name" name="name" placeholder="请输入街道办事处名称" type="text" v-model="subdistrict.name">
                                    <span class="help-block">街道办事处名称不允许超过10个字符</span>
                                    <div :style="errorClasses[0] && {'display': 'block'}" class="invalid-feedback" v-text="errorMessages[0]"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="phone_number">街道办事处联系方式</label>
                                <div class="col-md-9">
                                    <input :class="['form-control', {'is-invalid': errorClasses[1]}]" id="phone_number" name="phoneNumbers[0].phoneNumber" placeholder="街道办事处联系方式" type="text" v-model="subdistrict.phoneNumbers[0].phoneNumber">
                                    <span class="help-block">街道办事处联系方式允许输入办公电话</span>
                                    <div :style="errorClasses[1] && {'display': 'block'}" class="invalid-feedback" v-text="errorMessages[1]"></div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
                            <input name="id" th:if="${subdistrict} != null" type="hidden" v-model="subdistrict.id">
                            <input name="_method" th:if="${subdistrict} != null" type="hidden" value="PUT">
                            <button class="btn btn-sm btn-primary" type="submit">
                                <i class="fa fa-dot-circle-o"></i>保存
                            </button>
                            <button @click="resetClass" class="btn btn-sm btn-danger" type="reset">
                                <i class="fa fa-ban"></i>重置
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </th:block>
    </body>
</html>
