<!doctype html>
<html lang="zh-CN" layout:decorator="layouts/index" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layouts/header :: commonHead('街道办事处列表 - 街道办事处管理', ~{::script})">
        <title></title>
        <script th:inline="javascript" type="text/javascript">
            var subdistricts = /*[[${subdistricts}]]*/null
            var deleteUrl = /*[[@{'/subdistrict'}]]*/null
        </script>
        <script src="http://127.0.0.1:3000/subdistrict-list-bundle.js" th:if="${debug}" type="text/javascript"></script>
        <script th:if="${!debug}" th:src="@{'/javascript/subdistrict-list-bundle.js'}" type="text/javascript"></script>
    </head>
    <body>
        <th:block layout:fragment="content">
            <!-- Breadcrumb-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{'/'}" title="管理系统首页">管理系统首页</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="javascript:" title="街道办事处管理">街道办事处管理</a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{'/subdistrict/list'}" title="街道办事处列表">街道办事处列表</a>
                </li>
            </ol>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-3 float-right">
                                    <a class="btn btn-block btn-primary" th:href="@{'/subdistrict/create'}" title="添加街道办事处">添加街道办事处</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered table-striped" id="subdistrict_list" v-cloak>
                                    <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>街道办事处名称</th>
                                            <th>街道办事处联系方式</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr :key="subdistrict.id" v-for="(subdistrict, index) in subdistricts">
                                            <td v-text="index + 1"></td>
                                            <td v-text="subdistrict.name"></td>
                                            <td v-text="subdistrict.phoneNumbers[0].phoneNumber"></td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <a class="btn btn-sm btn-block btn-pill btn-secondary" th:attr="':href'='\'' + @{'/subdistrict/edit/'} + '\' + subdistrict.id'" title="点击修改">修改</a>
                                                    </div>
                                                    <div class="col-6">
                                                        <button @click="deleteObject(subdistrict.id)" class="btn btn-sm btn-block btn-pill btn-danger" title="点击删除" type="button">删除</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!--/*@thymesVar id="pageInfo" type="com.github.pagehelper"*/-->
                                <nav th:replace="layouts/pagination :: pagination('/subdistrict/list', ${pageInfo})"></nav>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-->
                </div>
            </div>
        </th:block>
    </body>
</html>
