@charset "utf-8";
@import "~@/src/scss/variable";

.login {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #1db7fa;

  .login-form {
    background-color: #fff;
    position: absolute;
    height: 385px;
    width: 347px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px 25px 5px 25px;

    h3 {
      font-size: 1.17em;
      font-weight: bold;
      margin: 0 auto 30px auto;
      text-align: center;
      color: #707070;
    }
  }
}
