<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.phonenumbermanager.mapper.SubcontractorMapper">
    <resultMap type="subcontractor" id="commonResultMap">
        <result column="id_card_number" property="idCardNumber"/>
        <result column="positions" property="positions"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="titles" property="titles"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="company_id" property="companyId"/>
    </resultMap>
    <resultMap type="subcontractor" id="baseResultMap" extends="commonResultMap">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="version" property="version"/>
    </resultMap>
    <resultMap type="subcontractor" id="aliasResultMap" extends="commonResultMap">
        <id column="subcontractor_id" property="id"/>
        <result column="subcontractor_name" property="name"/>
        <result column="subcontractor_create_time" property="createTime"/>
        <result column="subcontractor_update_time" property="updateTime"/>
        <result column="subcontractor_version" property="version"/>
    </resultMap>
    <resultMap type="subcontractor" id="collectionResultMap" extends="aliasResultMap">
        <association property="company" resultMap="com.github.phonenumbermanager.mapper.CompanyMapper.aliasResultMap"/>
        <collection property="phoneNumbers"
                    resultMap="com.github.phonenumbermanager.mapper.PhoneNumberMapper.aliasResultMap"/>
    </resultMap>
    <select id="selectCorrelationByCompanies" resultMap="collectionResultMap">
        SELECT pm_subcontractor.id AS 'subcontractor_id',
        pm_subcontractor.name AS 'subcontractor_name',
        pm_subcontractor.company_id,
        pm_company.name AS 'company_name'
        FROM pm_subcontractor
        LEFT JOIN pm_company ON pm_company.id = pm_subcontractor.company_id
        LEFT JOIN pm_subcontractor_phone_number ON pm_subcontractor_phone_number.subcontractor_id = pm_subcontractor.id
        LEFT JOIN pm_phone_number ON pm_phone_number.id = pm_subcontractor_phone_number.phone_number_id
        <include refid="selectCorrelationSearch">
            <property name="companies" value="companies"/>
            <property name="search" value="search"/>
            <property name="sort" value="sort"/>
        </include>
    </select>
    <select id="selectCorrelationCountByCompanies" resultType="long">
        SELECT COUNT(DISTINCT pm_subcontractor.id)
        FROM pm_subcontractor
        LEFT JOIN pm_company ON pm_company.id = pm_subcontractor.company_id
        LEFT JOIN pm_subcontractor_phone_number ON pm_subcontractor_phone_number.subcontractor_id = pm_subcontractor.id
        LEFT JOIN pm_phone_number ON pm_phone_number.id = pm_subcontractor_phone_number.phone_number_id
        <include refid="selectCorrelationSearch">
            <property name="companies" value="companies"/>
            <property name="search" value="search"/>
            <property name="sort" value="sort"/>
        </include>
    </select>
    <select id="selectAndPhoneNumber" resultMap="collectionResultMap">
        SELECT pm_subcontractor.id AS 'subcontractor_id',
            pm_subcontractor.name AS 'subcontractor_name',
            pm_subcontractor.positions,
            pm_subcontractor.titles,
            pm_phone_number.phone_number
        FROM pm_subcontractor
                 LEFT JOIN pm_subcontractor_phone_number
        ON pm_subcontractor.id = pm_subcontractor_phone_number.subcontractor_id
                 LEFT JOIN pm_phone_number ON pm_subcontractor_phone_number.phone_number_id = pm_phone_number.id
    </select>
    <select id="selectAndCompanyById" resultMap="collectionResultMap">
        SELECT pm_subcontractor.id AS 'subcontractor_id',
            pm_subcontractor.name AS 'subcontractor_name',
            pm_subcontractor.id_card_number,
            pm_subcontractor.positions,
            pm_subcontractor.titles,
            pm_subcontractor.create_time AS 'subcontractor_create_time',
            pm_subcontractor.update_time AS 'subcontractor_update_time',
            pm_company.id AS 'company_id',
            pm_company.name AS 'company_name',
            pm_company.parent_id AS 'company_parent_id',
            pm_phone_number.id AS 'phone_number_id',
            pm_phone_number.phone_number
        FROM pm_subcontractor
                 LEFT JOIN pm_company ON pm_subcontractor.company_id = pm_company.id
                 LEFT JOIN pm_subcontractor_phone_number
        ON pm_subcontractor.id = pm_subcontractor_phone_number.subcontractor_id
                 LEFT JOIN pm_phone_number ON pm_subcontractor_phone_number.phone_number_id = pm_phone_number.id
        WHERE pm_subcontractor.id = #{id}
    </select>
    <select id="selectCountForGroupCompany" resultType="map">
        SELECT
        pm_subcontractor.name AS 'subcontractor_name',
        COUNT(DISTINCT pm_community_resident.id) AS 'community_resident_count',
        COUNT(DISTINCT pm_dormitory_manager.id) AS 'dormitory_manager_count'
        FROM pm_subcontractor
        LEFT JOIN pm_dormitory_manager ON pm_subcontractor.id = pm_dormitory_manager.subcontractor_id
        LEFT JOIN pm_community_resident ON pm_subcontractor.id = pm_community_resident.subcontractor_id
        <where>
            <foreach collection="companyIds" item="companyId" open="pm_subcontractor.company_id IN (" separator=","
                     close=")">
                #{companyId}
            </foreach>
        </where>
        GROUP BY pm_subcontractor.name
    </select>
    <select id="selectCountForSubQueryCompany" resultType="map">
        SELECT
        id AS 'company_id',
        (
        SELECT COUNT(id)
        FROM pm_subcontractor
        <where>
            <foreach collection="companyIdMap" item="companyIds" open="company_id IN (" separator="," close=")">
                ${@cn.hutool.core.util.ArrayUtil@join(companyIds, ",")}
            </foreach>
        </where>
        ) AS 'person_count'
        from pm_company
        <where>
            <foreach collection="companyIdMap" index="id" item="companyIds" open="id IN (" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </select>
    <select id="selectListByCompanyIds" resultMap="collectionResultMap">
        SELECT pm_subcontractor.id AS 'subcontractor_id',
        pm_subcontractor.name AS 'subcontractor_name',
        pm_company.id AS 'company_id',
        pm_company.name AS 'company_name'
        FROM pm_subcontractor
        LEFT JOIN pm_company ON pm_subcontractor.company_id = pm_company.id
        <where>
            <foreach collection="companyIds" item="companyId" open="pm_company.id IN (" separator="," close=")">
                #{companyId}
            </foreach>
        </where>
    </select>
    <sql id="selectCorrelationSearch">
        <where>
            <if test="companies != null and companies.size() > 0">
                <foreach collection="companies" item="company" open="pm_subcontractor.company_id IN (" separator=","
                         close=")">
                    #{company.id}
                </foreach>
            </if>
            <if test="search != null">
                <foreach collection="search" index="key" item="value" separator=" AND " open=" AND">
                    <choose>
                        <when test="key eq 'name'">pm_subcontractor.name LIKE CONCAT('%', #{value}, '%')</when>
                        <when test="key eq 'phoneNumbers'">pm_phone_number.phone_number LIKE CONCAT('%', #{value},
                            '%')
                        </when>
                        <otherwise>
                            <foreach collection="value" item="id" open="pm_subcontractor.company_id IN (" separator=","
                                     close=")">
                                #{id}
                            </foreach>
                        </otherwise>
                    </choose>
                </foreach>
            </if>
        </where>
        <if test="sort != null">
            <foreach collection="sort" index="key" item="value" separator="," open="ORDER BY ">
                <choose>
                    <when test="key eq 'name'">CONVERT(pm_subcontractor.${key} USING gbk) COLLATE gbk_chinese_ci</when>
                    <otherwise>CONVERT(pm_company.name USING gbk) COLLATE gbk_chinese_ci</otherwise>
                </choose>
                <if test="value eq 'descend'">
                    DESC
                </if>
            </foreach>
        </if>
    </sql>
</mapper>
