<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.phonenumbermanager.mapper.SystemPermissionMapper">
    <resultMap type="systemPermission" id="commonResultMap">
        <result column="function_name" property="functionName"/>
        <result column="uri" property="uri"/>
        <result column="http_methods" property="httpMethods"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="order_by" property="orderBy"/>
        <result column="menu_type" property="menuType"/>
        <result column="is_display" property="isDisplay"/>
    </resultMap>
    <resultMap type="systemPermission" id="baseResultMap" extends="commonResultMap">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="parent_id" property="parentId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="version" property="version"/>
    </resultMap>
    <resultMap type="systemPermission" id="aliasResultMap" extends="commonResultMap">
        <id column="permission_id" property="id"/>
        <result column="permission_name" property="name"/>
        <result column="permission_parent_id" property="parentId"/>
        <result column="permission_create_time" property="createTime"/>
        <result column="permission_update_time" property="updateTime"/>
        <result column="permission_version" property="version"/>
    </resultMap>
    <resultMap type="systemPermission" id="correlationResultMap" extends="aliasResultMap">
        <collection property="companies"
                    resultMap="com.github.phonenumbermanager.mapper.CompanyMapper.aliasResultMap"/>
    </resultMap>
    <select id="selectListByCompanyIds" resultMap="correlationResultMap">
        SELECT pm_system_permission.id AS 'permission_id',
        pm_system_permission.name AS 'permission_name',
        pm_system_permission.function_name,
        pm_system_permission.uri,
        pm_system_permission.http_methods,
        pm_system_permission.parent_id AS 'permission_parent_id',
        pm_system_permission.order_by,
        pm_system_permission.menu_type,
        pm_system_permission.is_display,
        pm_system_permission.create_time AS 'permission_create_time',
        pm_system_permission.update_time AS 'permission_update_time'
        FROM pm_system_permission
        <if test="companyIds != null">
            LEFT JOIN pm_company_permission ON pm_system_permission.id = pm_company_permission.permission_id
        </if>
        <where>
            pm_system_permission.menu_type IN (0, 1)
            <if test="isDisplay != null">
                AND pm_system_permission.is_display = #{isDisplay}
            </if>
            <choose>
                <when test="companyIds == null">
                    AND pm_system_permission.parent_id = 0
                </when>
                <otherwise>
                    <foreach collection="companyIds" item="companyId" open="AND pm_company_permission.company_id IN ("
                             separator="," close=")">
                        #{companyId}
                    </foreach>
                </otherwise>
            </choose>
        </where>
    </select>
    <select id="selectByCompanyId" resultMap="correlationResultMap">
        SELECT pm_system_permission.id AS 'permission_id',
            pm_system_permission.name AS 'permission_name',
            pm_system_permission.function_name,
            pm_system_permission.uri,
            pm_system_permission.http_methods,
            pm_system_permission.parent_id AS 'permission_parent_id',
            pm_system_permission.order_by,
            pm_system_permission.menu_type,
            pm_system_permission.is_display,
            pm_system_permission.create_time AS 'permission_create_time',
            pm_system_permission.update_time AS 'permission_update_time'
        FROM pm_system_permission
                 LEFT JOIN pm_company_permission ON pm_system_permission.id = pm_company_permission.permission_id
        WHERE pm_company_permission.company_id = #{companyId}
    </select>
    <select id="selectCorrelationList" resultMap="correlationResultMap">
        SELECT pm_system_permission.id AS 'permission_id',
            pm_system_permission.name AS 'permission_name',
            pm_system_permission.function_name,
            pm_system_permission.uri,
            pm_system_permission.http_methods,
            pm_system_permission.parent_id AS 'permission_parent_id',
            pm_system_permission.menu_type,
            pm_system_permission.is_display,
            pm_company_permission.company_id
        FROM pm_system_permission
                 LEFT JOIN pm_company_permission ON pm_system_permission.id = pm_company_permission.permission_id
    </select>
    <select id="selectByCompanyIds" resultMap="correlationResultMap">
        SELECT pm_system_permission.id AS 'permission_id',
        pm_system_permission.name AS 'permission_name',
        pm_system_permission.function_name,
        pm_system_permission.uri,
        pm_system_permission.http_methods,
        pm_system_permission.parent_id AS 'permission_parent_id',
        pm_system_permission.order_by,
        pm_system_permission.menu_type,
        pm_system_permission.is_display,
        pm_system_permission.create_time AS 'permission_create_time',
        pm_system_permission.update_time AS 'permission_update_time'
        FROM pm_system_permission
        LEFT JOIN pm_company_permission ON pm_system_permission.id = pm_company_permission.permission_id
        <if test="companyIds != null">
            <where>
                <foreach collection="companyIds" item="companyId" open="pm_company_permission.company_id IN ("
                         separator="," close=")">
                    #{companyId}
                </foreach>
            </where>
        </if>
    </select>
</mapper>
