node_modules
src/utils/request-temp.js
_roadhog-api-doc
dist
.DS_Store
npm-debug.log*
yarn-error.log
coverage
.idea
yarn.lock
package-lock.json
pnpm-lock.yaml
*bak
.history
*.log
functions/*
.temp/**
**/.umi
.umi-production
screenshot
.firebase
.eslintcache
build
.env
tests
*.iml
*.md
