HELP.md
*.bak
*.back
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

.mvn/
node_modules/
src/main/resoures/static/javascript/
src/main/resoures/static/fonts/
src/main/resources/application-product.yml
.idea/
target/
webapp/uploads/
src/main/resources/
*.iml
src/test/resources/
git_stats/
webapp/backup/
webapp/css/content-search.css.map
webapp/css/custom.css.map
webapp/css/error.css.map
webapp/css/index.css.map
webapp/css/welcome.css.map
