HELP.md
*.bak
*.back
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

.mvn/
node_modules/
src/main/resources/application-product.yml
src/main/resources/static/fonts/
src/main/resources/static/javascript/

error/
info/
debug/
warn/
.yarn/
.cache/
.vagrant
