<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/index">
    <head th:replace="layouts/header :: commonHead('社区居民列表 - 社区居民管理', ~{}, ~{::script})">
        <title></title>
        <script type="text/javascript" th:inline="javascript">
            var token = /*[[${_token}]]*/null;
            var publicPrams = {createUrl: /*[[@{'/resident/create'}]]*/null, editUrl: /*[[@{'/resident/edit?id='}]]*/null, deleteUrl: /*[[@{'/resident/ajax_delete'}]]*/null, companySelectUrl: /*[[@{'/community/ajax_select'}]]*/null, importAsSystemUrl: /*[[@{'/resident/import_as_system'}]]*/null, loadSubdistrictsUrl: /*[[@{'/subdistrict/ajax_load'}]]*/null, loadResidentsUrl: /*[[@{'/resident/ajax_list'}]]*/null, downloadExcelUrl: /*[[@{'/resident/save_as_excel'}]]*/null};
            var communityResidentData = {communityResidents: /*[[${communityResidents}]]*/null, pageInfo: /*[[${pageInfo}]]*/null, roleIds: /*[[${roleIds}]]*/null, roleId: /*[[${roleId}]]*/null};
        </script>
        <script th:src="@{'/javascript/dist/resident-list-bundle.js'}" type="text/javascript"></script>
    </head>
    <body>
        <th:block layout:fragment="content">
            <!-- Breadcrumb-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{'/'}" title="管理系统首页">管理系统首页</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="javascript:" title="社区居民管理">社区居民管理</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="javascript:" title="社区居民管理">社区居民管理</a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{'/resident/list'}" title="社区居民列表">社区居民列表</a>
                </li>
            </ol>
            <div id="resident_list" v-cloak></div>
        </th:block>
    </body>
</html>
