@charset "utf-8";
/* CSS Document */

/***************************公共样式**************************/
body{ margin:0px; padding:0px; font-family:"微软雅黑"; /*background:url(../images/bg.jpg) no-repeat;*/}
a{ cursor:pointer;}
a:active, a:hover {
text-decoration:none;
}
ul{ margin:0px; padding:0px;}
li{ list-style:none;}
.clear{ clear:both;}
.hidden{ display:none;}
.fl{ float:left;}
.fr{ float:right;}
/******************************************登录**************************************/
.denglu{background:url(../images/bg01.jpg) center top; margin:0 auto; width:100%; min-heigth:min-height:100%; height:auto !important; height:100%;  }
.denglu .dl{width:50%; height:60%; position:absolute; top:20%; left:25%; vertical-align:central;}
.denglu .dl .bt{ width:100%; height:50px; margin:0 auto; text-align:center;}
.denglu .dl .dlk{ width:100%; margin:0 auto; clear:both; margin-top:50px;}
.denglu .dl .dlk .deng{ width:50%; margin:0 auto; margin-top:110px; float:left; margin-left:80px;}
.xuzhi{ width:37%;float:right; font-size:14px; color:#fff; margin-top:110px;}


.denglu02{background:url(../images/bg02.jpg) center top;; margin:0 auto; width:100%; min-heigth:min-height:100%; height:auto !important; height:100%;  }
.denglu02 .biaoti{ margin:0 auto; text-align:center; width:100%; margin-top:100px;}
.denglu02 .log{ margin:0 auto; width:900px; margin-top:20px; background:#666;}
.deng02{ width:50%; margin:0 auto;float:left; margin-left:40px; margin-top:110px;}
.xuzhi02{ width:40%;float:left; font-size:14px; line-height:25px; color:#999; margin-top:120px;margin-left:50px;}
.xuzhi02 .xz{  font-size:25px; color:#0272bc; font-weight:bold; line-height:35px; margin-bottom:10px;}
.btn-login02 {background: none repeat scroll 0 0 rgb(2, 114, 188);border: medium none; cursor: pointer; height: 40px;margin:25px 0 0 15px;;width: 120px;color: #fff;font-family: "微软雅黑";font-size: 18px;border-radius:5px;}


.i-text { background: none repeat scroll 0 0 #fff; border: 1px solid #999;box-shadow: 1px 1px 1px #dfe4e8 inset;color:#CCC;font-family: "微软雅黑"; font-size: 14px; height: 37px;letter-spacing: 1px;
line-height: 37px;text-indent: 12px;width: 300px;margin:15px 0 0 15px;}
.btn-login {background: none repeat scroll 0 0 rgb(2, 114, 188);border: medium none; cursor: pointer; height: 40px;margin:15px 0 0 168px;;width: 150px;color: #fff;font-family: "微软雅黑";font-size: 16px;border-radius:5px;}



