<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/index">
    <head th:replace="layouts/header :: commonHead('系统配置项列表 - 系统管理', ~{::script})">
        <title></title>
        <script type="text/javascript" th:inline="javascript">
            var configurations = /*[[${configurations}]]*/null;
            var deleteUrl = /*[[@{'/system/user_role/configuration/ajax_delete'}]]*/null;
        </script>
        <script type="text/javascript" th:src="@{'/javascript/dist/configuration-list-bundle.js'}"></script>
    </head>
    <body>
        <th:block layout:fragment="content">
            <!-- Breadcrumb-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{'/'}" title="管理系统首页">管理系统首页</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="javascript:" title="系统管理">系统管理</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="javascript:" title="系统配置项">系统配置项</a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{'/system/configuration/list'}" title="系统配置项列表">系统配置项列表</a>
                </li>
            </ol>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-3 float-right">
                                    <a th:href="@{'/system/configuration/create'}" class="btn btn-block btn-primary" title="添加系统配置项">添加系统配置项</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered table-striped" id="configuration_list" v-cloak>
                                    <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>系统配置项名称（英文）</th>
                                            <th>系统配置项描述</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(configuration, index) in configurations" :key="configuration.key">
                                            <td v-text="index + 1"></td>
                                            <td v-text="configuration.key"></td>
                                            <td v-text="configuration.description"></td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <a th:attr="':href'='\'' + @{'/system/configuration/edit?key='} + '\' + configuration.key'" class="btn btn-sm btn-block btn-pill btn-secondary" title="点击修改">修改</a>
                                                    </div>
                                                    <div class="col-6">
                                                        <button class="btn btn-sm btn-block btn-pill btn-danger" type="button" title="点击删除" @click="deleteObject(configuration.key)">删除</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!--/*@thymesVar id="pageInfo" type="com.github.pagehelper"*/-->
                                <nav th:replace="layouts/pagination :: pagination('/system/configuration/list', ${pageInfo})"></nav>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-->
                </div>
            </div>
        </th:block>
    </body>
</html>
