@charset "UTF-8";
.operation {
	margin: 0px 10px;
}
#pagination_parent {
	margin: 0px auto;
}
.content-title {
	line-height: 30px;
	padding-left: 10px;
}
.margin-br-10 {
	margin-right : 10px;
	margin-bottom : 10px;
}
.padding-left-10 {
	padding-left: 10px;
}
.privilege-checkbox {
	margin: 10px 0px;
}
.query-input{
	background-color: #e7eaef;
}
.community-sidebar {
	width: 20%;
	float: left;
}
.resident-right {
	width: 80%;
	float: right;
}