server:
    port: 8081

mode: debug

# 数据库访问配置
spring:
    #profiles:
    #active: product

    datasource:
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://127.0.0.1:3306/phone_number?useUnicode=true&characterEncoding=UTF8&useSSL=false&serverTimezone=GMT%2B8&allowMultiQueries=true
        username: root
        password: root
        # 下面为连接池的补充设置，应用到上面所有数据源中
        initialSize: 25
        minIdle: 5
        maxActive: 100
        # 配置获取连接等待超时的时间
        maxWait: 60000
        # 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒
        timeBetweenEvictionRunsMillis: 60000
        # 配置一个连接在池中最小生存的时间，单位是毫秒
        minEvictableIdleTimeMillis: 300000
        validationQuery: SELECT 1 FROM DUAL
        testWhileIdle: true
        testOnBorrow: false
        testOnReturn: false

    mvc:
        throwExceptionIfNoHandlerFound: true

    thymeleaf:
        prefix: classpath:/templates/
        suffix: .html
        mode: LEGACYHTML5
        cache: false

    servlet:
        multipart:
            max-file-size: 10MB
            max-request-size: 10MB

# Mybatis基础配置
mybatis:
    mapper-locations: classpath:com/github/phonenumbermanager/dao/*Mapper.xml
    type-aliases-package: com.github.phonenumbermanager.entity
    config-location: classpath:mybatis-config.xml

pagehelper:
    helperDialect: mysql
    reasonable: false
    params: count=countSql

logging:
    config: classpath:logback-spring.xml
    pattern:
        console: "[%d{yyyy-MM-dd HH:mm:ss}] -- [%-5p]: [%c] -- %m%n"
        file: "[%d{yyyy-MM-dd HH:mm:ss}] -- [%-5p]: [%c] -- %m%n"
    path: /var/log/phone-number-manager

