<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--引入数据库配置-->
    <import resource="applicationContext-database.xml"/>
    <!--引入Mybatis配置-->
    <import resource="applicationContext-mybatis.xml"/>
    <!-- 引入spring-security配置-->
    <import resource="applicationContext-security.xml"/>
</beans>
