<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
    <!--引入数据库配置-->
    <import resource="applicationContext-database.xml" />
    <!--引入Mybatis配置-->
    <import resource="applicationContext-mybatis.xml" />
    <!--异常配置-->
    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <!-- 定义默认的异常处理页面，当该异常类型的注册时使用 -->
        <property name="defaultErrorView" value="/exception/default" />
        <!-- 定义异常处理页面用来获取异常信息的变量名，默认名为exception -->
        <property name="exceptionAttribute" value="exception" />
        <!-- 定义需要特殊处理的异常，用类名或完全路径名作为key，异常也页名作为值 -->
        <property name="exceptionMappings">
            <props>
                <prop key="exception.BusinessException">/exception/business</prop>
                <prop key="exception.ParameterException">/exception/parameter</prop>
                <prop key="exception.PrivilegeException">/exception/privilege</prop>
                <prop key="exception.IllegalOperationException">/exception/illegal</prop>
                <prop key="exception.CsrfException">/exception/csrf</prop>
            </props>
        </property>
    </bean>
</beans>
