<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="warn" monitorInterval="600">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%5p [%t] %d{yyyy-MM-dd HH:mm:ss} (%F:%L) %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <root level="trace">
            <appender-ref ref="console"/>
        </root>
        <logger name="org.springframework.core" level="trace"/>
        <logger name="org.springframework.beans" level="trace"/>
        <logger name="org.springframework.context" level="trace"/>
        <logger name="org.springframework.web" level="trace"/>
        <logger name="org.apache.http" level="warn"/>
        <Logger name="www.dao" level="trace" additivity="false">
            <appender-ref ref="console"/>
        </Logger>
    </Loggers>
</Configuration>
