<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/index">
    <head th:replace="layouts/header :: commonHead('首页', ~{::script})">
        <title></title>
        <script type="text/javascript" th:inline="javascript">
            var systemUser = /*[[${systemUser}]]*/null;
            var systemRoleId = /*[[${systemRoleId}]]*/null;
            var communityRoleId = /*[[${communityRoleId}]]*/null;
            var subdistrictRoleId = /*[[${subdistrictRoleId}]]*/null;
            var getComputedUrl = /*[[@{'/index/getcomputedcount'}]]*/null;
            var companySelectUrl = /*[[@{'/community/ajax_select'}]]*/null;
        </script>
        <script type="text/javascript" th:src="@{'/javascript/dist/index-bundle.js'}"></script>
    </head>
    <body>
        <th:block layout:fragment="content">
            <!-- Breadcrumb-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{'/'}" title="管理系统首页">管理系统首页</a>
                </li>
            </ol>
            <div class="container-fluid" id="index" v-cloak>
                <div class="animated fadeIn">
                    <!--基本信息-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card base-message">
                                <div class="card-header">
                                    <span>系统录入基本信息</span>
                                    <div class="float-right">
                                        <div class="form-group">
                                            <label for="base_message_subdistrict_id"></label>
                                            <select class="form-control form-control-sm" id="base_message_subdistrict_id" v-model="baseMessageSubdistrictId" @change="loadCommunity" v-if="systemUser.roleId === systemRoleId">
                                                <option :value="-1">请选择</option>
                                                <option :value="0" :disabled="systemUser.roleId !== systemRoleId">全部街道</option>
                                                <option :value="subdistrict.id" v-for="subdistrict in subdistricts" :key="subdistrict.id" v-text="subdistrict.name"></option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="base_message_community_id"></label>
                                            <select class="form-control form-control-sm" id="base_message_community_id" v-model="baseMessageCommunityId" @change="loadMessageAndChart(1, baseMessageCommunityId, communityRoleId)" v-if="systemUser.roleId !== communityRoleId">
                                                <option :value="-1">请选择</option>
                                                <option :value="0" :disabled="systemUser.roleId === communityRoleId">全部社区</option>
                                                <option :value="community.communityId" v-for="community in communities" :key="community.communityId" v-text="community.communityName"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="callout callout-info">
                                                <small class="text-muted">录入人数</small>
                                                <br>
                                                <count-to class="h4" :end-val="addCount"></count-to>
                                            </div>
                                        </div>
                                        <!-- /.col-->
                                        <div class="col-sm-3">
                                            <div class="callout callout-success">
                                                <small class="text-muted">核定人数</small>
                                                <br>
                                                <count-to class="h4" :end-val="haveToCount"></count-to>
                                            </div>
                                        </div>
                                        <!-- /.col-->
                                        <div class="col-sm-3">
                                            <div class="callout callout-danger">
                                                <small class="text-muted">最少未录人数</small>
                                                <br>
                                                <count-to class="h4" :end-val="remnantCount"></count-to>
                                            </div>
                                        </div>
                                        <!-- /.col-->
                                        <div class="col-sm-3" data-toggle="tooltip" data-placement="top" :title="percentCountTitle">
                                            <div class="callout callout-dark">
                                                <small class="text-muted">录入与核定比例</small>
                                                <br>
                                                <count-to class="h4" :end-val="percentCount" :decimals="2" suffix="%"></count-to>
                                            </div>
                                        </div>
                                        <!-- /.col-->
                                    </div>
                                    <!-- /.row-->
                                </div>
                            </div>
                        </div>
                        <!-- /.col-->
                    </div>
                    <!--社区居民柱状图表-->
                    <div class="card resident-chart">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-5">
                                    <h4 class="card-title mb-0">社区居民统计图表</h4>
                                </div>
                                <!-- /.col-->
                                <div class="col-sm-7 d-md-block">
                                    <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
                                        <div class="form-group">
                                            <label for="chart_subdistrict_id"></label>
                                            <select class="form-control form-control-sm" id="chart_subdistrict_id" v-model="barChartSubdistrictId" @change="chooseChart" :readOnly="systemUser.roleId !== systemRoleId" v-if="isDisplayChooseChart">
                                                <option :value="-1">请选择</option>
                                                <option :value="0" :disabled="systemUser.roleId !== systemRoleId">全部街道</option>
                                                <option :value="subdistrict.id" v-for="subdistrict in subdistricts" :key="subdistrict.id" v-text="subdistrict.name"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.col-->
                            </div>
                            <!-- /.row-->
                            <div class="chart-wrapper">
                                <ve-histogram :data="barChart" :extend="barChartExtend"></ve-histogram>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </body>
</html>
