<!doctype html>
<html lang="zh-CN" layout:decorator="layouts/index" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
    <!--/*@thymesVar id="subcontractor" type="com.github.phonenumbermanager.entity.Subcontractor"*/-->
    <head th:replace="layouts/header :: commonHead('社区分包人' + ${subcontractor == null ? '添加' : '编辑'} + ' - 社区分包人管理 - 社区管理', ~{::script})">
        <title></title>
        <script th:inline="javascript" type="text/javascript">
            var messageErrors = /*[[${messageErrors}]]*/null
            var subcontractor = /*[[${subcontractor}]]*/null
        </script>
        <script src="http://127.0.0.1:3000/subcontractor-edit-bundle.js" th:if="${debug}" type="text/javascript"></script>
        <script th:if="${!debug}" th:src="@{'/javascript/subcontractor-edit-bundle.js'}" type="text/javascript"></script>
    </head>
    <body>
        <th:block layout:fragment="content">
            <!-- Breadcrumb-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{'/'}" title="管理系统首页">管理系统首页</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="javascript:" title="社区管理">社区管理</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="javascript:" title="社区分包人管理">社区分包人管理</a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{'/community/subcontractor/' + ${subcontractor == null ? 'create' : 'edit/' + subcontractor.id}}" th:text="${subcontractor} == null ? '社区分包人添加' : '社区分包人编辑'" th:title="${subcontractor} == null ? '社区分包人添加' : '社区分包人编辑'"></a>
                </li>
            </ol>
            <div class="container-fluid">
                <div class="card" id="edit_subcontractor" v-cloak>
                    <div class="card-header" th:text="${subcontractor} == null ? '社区分包人添加' : '社区分包人' + ${subcontractor.name} + '编辑'"></div>
                    <form @submit="submit" class="form-horizontal" method="post" th:action="@{'/community/subcontractor'}">
                        <div class="card-body">
                            <div :key="messageError.defaultMessage" class="alert alert-danger" role="alert" v-for="messageError in messageErrors" v-if="messageErrors !== null">
                                {{ messageError.defaultMessage }}
                                <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="name">社区分包人姓名</label>
                                <div class="col-md-9">
                                    <input :class="['form-control', {'is-invalid': errorClasses[0]}]" id="name" name="name" placeholder="请输入社区分包人姓名" type="text" v-model="subcontractor.name">
                                    <span class="help-block">社区分包人姓名不允许超过10个字符</span>
                                    <div :style="errorClasses[0] && {'display': 'block'}" class="invalid-feedback" v-text="errorMessages[0]"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="mobile">社区分包人联系方式</label>
                                <div class="col-md-9">
                                    <input :class="['form-control', {'is-invalid': errorClasses[1]}]" id="mobile" name="phoneNumbers[0].phoneNumber" placeholder="请输入社区分包人联系方式" type="text" v-model="subcontractor.phoneNumbers[0].phoneNumber">
                                    <span class="help-block">社区分包人联系方式允许输入移动电话</span>
                                    <div :style="errorClasses[1] && {'display': 'block'}" class="invalid-feedback" v-text="errorMessages[1]"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="community_id">所属社区</label>
                                <div class="col-md-9">
                                    <select :class="['form-control', {'is-invalid': errorClasses[3]}]" id="community_id" name="communityId" v-model="subcontractor.communityId">
                                        <option :value="0">请选择</option>
                                        <!--/*@thymesVar id="communities" type="java.util.List"*/-->
                                        <!--/*@thymesVar id="community" type="com.github.phonenumbermanager.entity.Community"*/-->
                                        <option th:attr="':value'=${community.id}" th:each="community, status : ${communities}" th:text="${community.name}"></option>
                                    </select>
                                    <div :style="errorClasses[2] && {'display': 'block'}" class="invalid-feedback" v-text="errorMessages[2]"></div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
                            <input name="id" th:if="${subcontractor} != null" type="hidden" v-model="subcontractor.id">
                            <input name="_method" th:if="${subcontractor} != null" type="hidden" value="PUT">
                            <button class="btn btn-sm btn-primary" type="submit">
                                <i class="fa fa-dot-circle-o"></i>保存
                            </button>
                            <button @click="resetClass" class="btn btn-sm btn-danger" type="reset">
                                <i class="fa fa-ban"></i>重置
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </th:block>
    </body>
</html>
