<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layouts/header :: commonHead('发生异常 - 异常处理', ~{::script})">
        <title></title>
        <script src="http://127.0.0.1:3000/error-bundle.js" th:if="${debug}" type="text/javascript"></script>
        <script th:if="${!debug}" th:src="@{'/javascript/error-bundle.js'}" type="text/javascript"></script>
    </head>
    <body>
        <div class="container">
            <div class="top">
                <div class="row">
                    <!--/*@thymesVar id="status" type="java.lang.Integer"*/-->
                    <h2 class="col-5 error-code" th:text="${status}"></h2>
                    <div class="col-7 error-message">
                        <h3>抱歉，出现错误了！</h3>
                        <div class="text">
                            无法访问本页面的原因是：<br>
                            <!--/*@thymesVar id="exception" type="java.lang.Exception"*/-->
                            <span th:if="${exception.message != null && exception.message != ''}" th:text="${exception.message}"></span><span th:if="${status == 404}">找不到该页面！</span><br> 您可以<a href="javascript:history.go(-1);" title="返回">返回</a>上一页，或者再次<a href="javascript:location.reload();" ondragstart="return false;" title="刷新">刷新</a>本页面！<br> 管理员为系统给您带来的不便致以诚挚的歉意！
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <img alt="程序猿已在路上" src="" th:src="@{'/images/try.png'}">
            </div>
        </div>
    </body>
</html>
