<!doctype html>
<html lang="zh-CN" layout:decorator="layouts/index" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
    <!--/*@thymesVar id="communityResident" type="com.github.phonenumbermanager.entity.CommunityResident"*/-->
    <head th:replace="layouts/header :: commonHead('社区居民' + ${communityResident == null ? '添加' : '编辑'} + ' - 社区居民管理', ~{::script})">
        <title></title>
        <script th:inline="javascript" type="text/javascript">
            var messageErrors = /*[[${messageErrors}]]*/null
            var communityResident = /*[[${communityResident}]]*/null
            var communities = /*[[${communities}]]*/null
            var loadSubcontractorsUrl = /*[[@{'/community/subcontractor/load'}]]*/null
        </script>
        <script src="http://127.0.0.1:3000/resident-edit-bundle.js" th:if="${debug}" type="text/javascript"></script>
        <script th:if="${!debug}" th:src="@{'/javascript/resident-edit-bundle.js'}" type="text/javascript"></script>
    </head>
    <body>
        <th:block layout:fragment="content">
            <!-- Breadcrumb-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{'/'}" title="管理系统首页">管理系统首页</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="javascript:" title="社区管理">社区管理</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="javascript:" title="社区居民管理">社区居民管理</a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{'/resident/' + ${communityResident == null ? 'create' : 'edit?id=' + communityResident.id}}" th:text="${communityResident} == null ? '社区居民添加' : '社区居民编辑'" th:title="${communityResident} == null ? '社区居民添加' : '社区居民编辑'"></a>
                </li>
            </ol>
            <div class="container-fluid">
                <div class="card" id="edit_resident" v-cloak>
                    <div class="card-header" th:text="${communityResident} == null ? '社区居民添加' : '社区居民' + ${communityResident.name} + '编辑'"></div>
                    <form @submit="submit" class="form-horizontal" method="post" th:action="@{'/resident'}">
                        <div class="card-body">
                            <div :key="messageError.defaultMessage" class="alert alert-danger" role="alert" v-for="messageError in messageErrors" v-if="messageErrors !== null">
                                {{ messageError.defaultMessage }}
                                <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="name">社区居民姓名</label>
                                <div class="col-md-9">
                                    <input :class="['form-control', {'is-invalid': errorClasses[0]}]" :disabled="communityResident.community.residentSubmitted" id="name" name="name" placeholder="请输入社区居民姓名" type="text" v-model="communityResident.name">
                                    <span class="help-block">必填项，社区居民姓名不允许超过10个字符</span>
                                    <div :style="errorClasses[0] && {'display': 'block'}" class="invalid-feedback" v-text="errorMessages[0]"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="address">社区居民家庭地址</label>
                                <div class="col-md-9">
                                    <input :class="['form-control', {'is-invalid': errorClasses[1]}]" :disabled="communityResident.community.residentSubmitted" id="address" name="address" placeholder="请输入社区居民家庭地址" type="text" v-model="communityResident.address">
                                    <span class="help-block">必填项，请按照要求填写社区居民家庭地址</span>
                                    <div :style="errorClasses[1] && {'display': 'block'}" class="invalid-feedback" v-text="errorMessages[1]"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="phone1">社区居民联系方式一</label>
                                <div class="col-md-9">
                                    <input :class="['form-control', {'is-invalid': errorClasses[2]}]" :disabled="communityResident.community.residentSubmitted" @blur="showPhoneInput(communityResident.phoneNumbers)" id="phone1" name="phoneNumbers[0].phoneNumber" placeholder="请输入社区居民联系方式一" type="text" v-model="communityResident.phoneNumbers[0].phoneNumber">
                                    <span class="help-block">必填项，社区居民联系方式不允许重复</span>
                                    <div :style="errorClasses[2] && {'display': 'block'}" class="invalid-feedback" v-text="errorMessages[2]"></div>
                                </div>
                            </div>
                            <div class="form-group row" v-if="showPhoneInputs[0]">
                                <label class="col-md-3 col-form-label" for="phone2">社区居民联系方式二</label>
                                <div class="col-md-9">
                                    <input :class="['form-control', {'is-invalid': errorClasses[3]}]" :disabled="communityResident.community.residentSubmitted" @blur="showPhoneInputs(communityResident.phoneNumbers)" id="phone2" name="phoneNumbers[1].phoneNumber" placeholder="请输入社区居民联系方式二" type="text" v-model="communityResident.phoneNumbers[1].phoneNumber">
                                    <span class="help-block">社区居民联系方式不允许重复</span>
                                    <div :style="errorClasses[3] && {'display': 'block'}" class="invalid-feedback" v-text="errorMessages[3]"></div>
                                </div>
                            </div>
                            <div class="form-group row" v-if="showPhoneInputs[1]">
                                <label class="col-md-3 col-form-label" for="phone3">社区居民联系方式三</label>
                                <div class="col-md-9">
                                    <input :class="['form-control', {'is-invalid': errorClasses[4]}]" :disabled="communityResident.community.residentSubmitted" id="phone3" name="phoneNumbers[2].phoneNumber" placeholder="请输入社区居民联系方式三" type="text" v-model="communityResident.phoneNumbers[2].phoneNumber">
                                    <span class="help-block">社区居民联系方式不允许重复</span>
                                    <div :style="errorClasses[4] && {'display': 'block'}" class="invalid-feedback" v-text="errorMessages[4]"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="subdistrict_id">所属街道</label>
                                <div class="col-md-9">
                                    <select :class="['form-control', {'is-invalid': errorClasses[5]}]" :disabled="communityResident.community.residentSubmitted" @change="chooseSubdistrict" id="subdistrict_id" name="subdistrictId" v-model="subdistrictId">
                                        <option :value="0">请选择</option>
                                        <option :key="subdistrict.id" :value="subdistrict.id" v-for="subdistrict in subdistricts" v-text="subdistrict.name"></option>
                                    </select> <span class="help-block">必填项</span>
                                    <div :style="errorClasses[5] && {'display': 'block'}" class="invalid-feedback" v-text="errorMessages[5]"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="community_id">所属社区</label>
                                <div class="col-md-9">
                                    <select :class="['form-control', {'is-invalid': errorClasses[6]}]" :disabled="communityResident.community.residentSubmitted" @change="chooseCommunity" id="community_id" name="communityId" v-model="communityResident.communityId">
                                        <option :value="0">请选择</option>
                                        <option :key="community.id" :value="community.id" v-for="community in newCommunities" v-text="community.name"></option>
                                    </select> <span class="help-block">必填项</span>
                                    <div :style="errorClasses[6] && {'display': 'block'}" class="invalid-feedback" v-text="errorMessages[6]"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="subcontractor_id">社区分包人</label>
                                <div class="col-md-9">
                                    <select :class="['form-control', {'is-invalid': errorClasses[7]}]" :disabled="communityResident.community.residentSubmitted" id="subcontractor_id" name="subcontractorId" v-model="communityResident.subcontractorId">
                                        <option :value="0">请选择</option>
                                        <option :key="subcontractor.id" :value="subcontractor.id" v-for="subcontractor in subcontractors" v-text="subcontractor.name"></option>
                                    </select> <span class="help-block">必填项</span>
                                    <div :style="errorClasses[7] && {'display': 'block'}" class="invalid-feedback" v-text="errorMessages[7]"></div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <input th:if="${communityResident == null || communityResident.community == null || !communityResident.community.residentSubmitted}" th:name="${_csrf.parameterName}" type="hidden" v-model="csrfToken">
                            <input name="id" th:if="${communityResident} != null" type="hidden" v-model="communityResident.id">
                            <input name="_method" th:if="${communityResident} != null" type="hidden" value="PUT">
                            <button class="btn btn-sm btn-primary" th:if="${communityResident == null || communityResident.community == null || !communityResident.community.residentSubmitted}" type="submit">
                                <i class="fa fa-dot-circle-o"></i>保存
                            </button>
                            <button @click="resetClass" class="btn btn-sm btn-danger" th:if="${communityResident == null || communityResident.community == null || !communityResident.community.residentSubmitted}" type="reset">
                                <i class="fa fa-ban"></i>重置
                            </button>
                            <button class="btn btn-sm btn-primary" onclick="history.back()" th:if="${communityResident != null && communityResident.community != null && communityResident.community.residentSubmitted != null && communityResident.community.residentSubmitted}" type="button">
                                <i class="fa fa-arrow-left"></i>返回
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </th:block>
    </body>
</html>
