<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/index">
    <head th:replace="layouts/header :: commonHead('街道办事处列表 - 街道办事处管理', ~{}, ~{::script})">
        <title></title>
        <script type="text/javascript" th:inline="javascript">
            var token = /*[[${_token}]]*/null;
            var subdistricts = /*[[${subdistricts}]]*/null;
            var deleteUrl = /*[[@{'/subdistrict/ajax_delete'}]]*/null;
        </script>
        <script type="text/javascript" th:src="@{'/javascript/dist/subdistrict-list-bundle.js'}"></script>
    </head>
    <body>
        <th:block layout:fragment="content">
            <!-- Breadcrumb-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{'/'}" title="管理系统首页">管理系统首页</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="javascript:" title="街道办事处管理">街道办事处管理</a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{'/subdistrict/list'}" title="街道办事处列表">街道办事处列表</a>
                </li>
            </ol>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-3 float-right">
                                    <a th:href="@{'/subdistrict/create'}" class="btn btn-block btn-primary" title="添加街道办事处">添加街道办事处</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered table-striped" id="subdistrict_list" v-cloak>
                                    <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>街道办事处名称</th>
                                            <th>街道办事处联系方式</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(subdistrict, index) in subdistricts" :key="subdistrict.subdistrictId">
                                            <td v-text="index + 1"></td>
                                            <td v-text="subdistrict.subdistrictName"></td>
                                            <td v-text="subdistrict.subdistrictTelephone"></td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <a th:attr="':href'='\'' + @{'/subdistrict/edit?id='} + '\' + subdistrict.subdistrictId'" class="btn btn-sm btn-block btn-pill btn-secondary" title="点击修改">修改</a>
                                                    </div>
                                                    <div class="col-6">
                                                        <button class="btn btn-sm btn-block btn-pill btn-danger" type="button" title="点击删除" @click="deleteObject(subdistrict.subdistrictId)">删除</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!--/*@thymesVar id="pageInfo" type="com.github.pagehelper"*/-->
                                <nav th:replace="layouts/pagination :: pagination('/subdistrict/list', ${pageInfo})"></nav>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-->
                </div>
            </div>
        </th:block>
    </body>
</html>
