<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.phonenumbermanager.mapper.CompanyMapper">
    <resultMap type="com.github.phonenumbermanager.entity.Company" id="commonResultMap">
        <result column="actual_number" property="actualNumber"/>
        <result column="level" property="level"/>
        <result column="parent_id" property="parentId"/>
    </resultMap>
    <resultMap type="com.github.phonenumbermanager.entity.Company" id="baseResultMap" extends="commonResultMap">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="version" property="version"/>
    </resultMap>
    <resultMap type="com.github.phonenumbermanager.entity.Company" id="aliasResultMap" extends="commonResultMap">
        <id column="company_id" property="id"/>
        <result column="company_name" property="name"/>
        <result column="company_create_time" property="createTime"/>
        <result column="company_update_time" property="updateTime"/>
        <result column="company_version" property="version"/>
    </resultMap>
    <resultMap type="com.github.phonenumbermanager.entity.Company" id="collectionResultMap"
               extends="aliasResultMap">
        <collection property="phoneNumbers" ofType="com.github.phonenumbermanager.entity.PhoneNumber"
                    resultMap="com.github.phonenumbermanager.mapper.PhoneNumberMapper.aliasResultMap"/>
    </resultMap>
    <select id="selectCorrelation" resultMap="collectionResultMap">
        SELECT pm_company.id AS 'company_id',
            pm_company.name AS 'company_name',
            pm_company.actual_number,
            pm_company.create_time AS 'company_create_time',
            pm_company.update_time AS 'company_update_time',
            pm_company.parent_id,
            pm_phone_number.phone_number
        FROM pm_company
                 LEFT JOIN pm_company_phone_number ON pm_company.id = pm_company_phone_number.company_id
                 LEFT JOIN pm_phone_number ON pm_company_phone_number.phone_number_id = pm_phone_number.id
    </select>
    <select id="selectCorrelationById" resultMap="collectionResultMap">
        SELECT pm_company.id AS 'company_id',
            pm_company.name AS 'company_name',
            pm_company.actual_number,
            pm_company.create_time AS 'company_create_time',
            pm_company.update_time AS 'company_update_time',
            pm_company.level,
            pm_company.parent_id,
            pm_phone_number.phone_number
        FROM pm_company
                 LEFT JOIN pm_company_phone_number ON pm_company.id = pm_company_phone_number.company_id
                 LEFT JOIN pm_phone_number ON pm_company_phone_number.phone_number_id = pm_phone_number.id
        WHERE pm_company.id = #{id}
    </select>
    <select id="selectCorrelationByCompanies" resultMap="collectionResultMap">
        SELECT pm_company.id,
        pm_company.name,
        pm_company.actual_number,
        pm_company.parent_id,
        pm_company.create_time,
        pm_company.update_time,
        pm_company.level,
        pm_company_phone_number.company_id,
        pm_phone_number.id,
        pm_phone_number.phone_number,
        pm_phone_number.phone_type
        FROM pm_company
        LEFT JOIN pm_company_phone_number ON pm_company.id = pm_company_phone_number.company_id
        LEFT JOIN pm_phone_number ON pm_company_phone_number.phone_number_id = pm_phone_number.id
        <where>
            <foreach collection="companies" item="company" separator="OR">
                pm_company.id = #{company.id} OR pm_company.parent_id = #{company.id}
            </foreach>
        </where>
    </select>
</mapper>
