<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.phonenumbermanager.mapper.DormitoryManagerMapper">
    <resultMap type="com.github.phonenumbermanager.entity.DormitoryManager" id="commonResultMap">
        <result column="gender" property="gender"/>
        <result column="birth" property="birth"/>
        <result column="political_status" property="politicalStatus"/>
        <result column="employment_status" property="employmentStatus"/>
        <result column="education" property="education"/>
        <result column="address" property="address"/>
        <result column="manager_address" property="managerAddress"/>
        <result column="manager_count" property="managerCount"/>
        <result column="system_user_id" property="systemUserId"/>
        <result column="company_id" property="companyId"/>
    </resultMap>
    <resultMap type="com.github.phonenumbermanager.entity.DormitoryManager" id="baseResultMap"
               extends="commonResultMap">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="version" property="version"/>
    </resultMap>
    <resultMap type="com.github.phonenumbermanager.entity.DormitoryManager" id="aliasResultMap"
               extends="commonResultMap">
        <id column="dormitory_manager_id" property="id"/>
        <result column="dormitory_manager_name" property="name"/>
        <result column="dormitory_manager_create_time" property="createTime"/>
        <result column="dormitory_manager_update_time" property="updateTime"/>
        <result column="dormitory_manager_version" property="version"/>
    </resultMap>
    <resultMap type="com.github.phonenumbermanager.entity.DormitoryManager" id="collectionResultMap"
               extends="aliasResultMap">
        <association property="company" column="company_id"
                     resultMap="com.github.phonenumbermanager.mapper.CompanyMapper.collectionResultMap"/>
        <association property="systemUser" column="system_user_id"
                     resultMap="com.github.phonenumbermanager.mapper.SystemUserMapper.collectionResultMap"/>
        <collection property="phoneNumbers" ofType="com.github.phonenumbermanager.entity.PhoneNumber"
                    resultMap="com.github.phonenumbermanager.mapper.PhoneNumberMapper.aliasResultMap"/>
    </resultMap>
    <select id="selectAndCompanyById" resultMap="collectionResultMap">
        SELECT pm_dormitory_manager.id AS 'dormitory_manager_id',
            pm_dormitory_manager.name AS 'dormitory_manager_name',
            pm_dormitory_manager.gender,
            pm_dormitory_manager.birth,
            pm_dormitory_manager.political_status,
            pm_dormitory_manager.employment_status,
            pm_dormitory_manager.education,
            pm_dormitory_manager.address,
            pm_dormitory_manager.manager_address,
            pm_dormitory_manager.manager_count,
            pm_phone_number.phone_number,
            pm_dormitory_manager.create_time AS 'dormitory_manager_create_time',
            pm_dormitory_manager.update_time AS 'dormitory_manager_update_time',
            pm_dormitory_manager.system_user_id,
            pm_dormitory_manager.company_id,
            pm_company.name AS 'company_name'
        FROM pm_dormitory_manager
                 LEFT JOIN pm_company ON pm_dormitory_manager.company_id = pm_company.id
                 LEFT JOIN pm_system_user ON pm_dormitory_manager.system_user_id = pm_system_user.id
                 LEFT JOIN pm_dormitory_manager_phone_number
        ON pm_dormitory_manager.id = pm_dormitory_manager_phone_number.dormitory_manager_id
                 LEFT JOIN pm_phone_number ON pm_dormitory_manager_phone_number.phone_number_id = pm_phone_number.id
        WHERE pm_dormitory_manager.id = #{id}
    </select>
    <select id="selectBySearchVo" resultMap="collectionResultMap">
        SELECT
        pm_dormitory_manager.id AS 'dormitory_manager_id',
        pm_dormitory_manager.name AS 'dormitory_manager_name',
        pm_dormitory_manager.gender,
        TIMESTAMPDIFF(YEAR, pm_dormitory_manager.birth, CURDATE()) AS 'age',
        pm_dormitory_manager.employment_status,
        pm_phone_number.phone_number,
        pm_dormitory_manager.create_time AS 'dormitory_manager_create_time',
        pm_dormitory_manager.update_time AS 'dormitory_manager_update_time',
        pm_dormitory_manager.company_id,
        pm_company.name AS 'company_name'
        FROM
        pm_dormitory_manager
        LEFT JOIN pm_company ON pm_dormitory_manager.company_id = pm_company.id
        LEFT JOIN pm_dormitory_manager_phone_number ON pm_dormitory_manager.id =
        pm_dormitory_manager_phone_number.dormitory_manager_id
        LEFT JOIN pm_phone_number ON pm_dormitory_manager_phone_number.phone_number_id = pm_phone_number.id
        <where>
            <foreach collection="companies" item="company" separator="OR">
                pm_dormitory_manager.company_id = #{company.id}
            </foreach>
            <if test="searchVo.name != null">
                AND pm_dormitory_manager.name LIKE CONCAT('%', #{searchVo.name}, '%')
            </if>
            <if test="searchVo.gender != null">
                AND pm_dormitory_manager.gender = #{searchVo.gender}
            </if>
            <if test="searchVo.address != null">
                AND pm_dormitory_manager.address LIKE CONCAT('%', #{searchVo.address}, '%')
            </if>
            <if test="searchVo.phoneNumbers != null">
                AND pm_phone_number.phone_number LIKE CONCAT('%', #{searchVo.phoneNumber}, '%')
            </if>
        </where>
        ORDER BY pm_dormitory_manager.company_id, CONVERT(pm_dormitory_manager.name USING GBK)
    </select>
</mapper>
