<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.phonenumbermanager.mapper.SubcontractorMapper">
    <resultMap type="com.github.phonenumbermanager.entity.Subcontractor" id="commonResultMap">
        <result column="community_id" property="communityId"/>
    </resultMap>
    <resultMap type="com.github.phonenumbermanager.entity.Subcontractor" id="baseResultMap" extends="commonResultMap">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <resultMap type="com.github.phonenumbermanager.entity.Subcontractor" id="aliasResultMap" extends="commonResultMap">
        <id column="subcontractor_id" property="id"/>
        <result column="subcontractor_name" property="name"/>
        <result column="subcontractor_create_time" property="createTime"/>
        <result column="subcontractor_update_time" property="updateTime"/>
    </resultMap>
    <resultMap type="com.github.phonenumbermanager.entity.Subcontractor" id="collectionResultMap"
               extends="aliasResultMap">
        <collection property="phoneNumbers" ofType="com.github.phonenumbermanager.entity.PhoneNumber"
                    resultMap="com.github.phonenumbermanager.mapper.PhoneNumberMapper.aliasResultMap"/>
    </resultMap>
    <resultMap type="com.github.phonenumbermanager.entity.Subcontractor" id="associationResultMap"
               extends="aliasResultMap">
        <association property="community"
                     resultMap="com.github.phonenumbermanager.mapper.CommunityMapper.aliasResultMap"/>
    </resultMap>
    <resultMap type="com.github.phonenumbermanager.entity.Subcontractor" id="correlationResultMap"
               extends="collectionResultMap">
        <association property="community"
                     resultMap="com.github.phonenumbermanager.mapper.CommunityMapper.aliasResultMap"/>
    </resultMap>
    <select id="selectByObject" resultMap="correlationResultMap">
        SELECT
        `pm_subcontractor`.`id` AS 'subcontractor_id',
        `pm_subcontractor`.`name` AS 'subcontractor_name',
        `pm_phone_number`.`phone_number`,
        `pm_subcontractor`.`create_time` AS 'subcontractor_create_time',
        `pm_subcontractor`.`update_time` AS 'subcontractor_update_time',
        `pm_company`.`id` AS 'company_id',
        `pm_company`.`name` AS 'company_name'
        FROM `pm_subcontractor`
        LEFT JOIN `pm_company` ON `pm_subcontractor`.`community_id` = `pm_company`.`id`
        LEFT JOIN `pm_phone_number` ON `pm_subcontractor`.`id` = `pm_phone_number`.`source_id`
        <where>
            <if test="id != null and id != ''">
                `pm_subcontractor`.`id` = #{id}
            </if>
            <if test="name != null and name != ''">
                AND `pm_subcontractor`.`name` LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="phoneNumbers != null">
                <foreach collection="phoneNumbers" item="phoneNumber">
                    AND `pm_phone_number`.`phone_number` LIKE CONCAT('%', #{phoneNumber.phoneNumber}, '%')
                </foreach>
            </if>
            <if test="createTime != null">
                AND `create_time` = #{createTime}
            </if>
            <if test="updateTime != null">
                AND `pm_subcontractor`.`update_time` = #{updateTime}
            </if>
            <if test="communityId != null and communityId != ''">
                AND `pm_subcontractor`.`community_id` = #{communityId}
            </if>
            <if test="community != null and community.name != null and community.name != ''">
                AND `pm_company`.`name` = #{community.name}
            </if>
            AND `pm_phone_number`.`source_type` = 2
        </where>
        ORDER BY `pm_subcontractor`.`id`
    </select>
    <select id="select" resultMap="correlationResultMap">
        SELECT `pm_subcontractor`.`id` AS 'subcontractor_id',
            `pm_subcontractor`.`name` AS 'subcontractor_name',
            `pm_phone_number`.`phone_number`,
            `pm_company`.`id` AS 'company_id',
            `pm_company`.`name` AS 'company_name'
        FROM `pm_subcontractor`
                 LEFT JOIN `pm_company` ON `pm_subcontractor`.`community_id` = `pm_company`.`id`
                 LEFT JOIN `pm_phone_number` ON `pm_subcontractor`.`id` = `pm_phone_number`.`source_id`
        WHERE `pm_subcontractor`.`community_id` = #{communityId} AND `pm_phone_number`.`source_type` = 2
    </select>
    <select id="selectBySubdistrictId" resultMap="correlationResultMap">
        SELECT `pm_subcontractor`.`id` AS 'subcontractor_id', `pm_subcontractor`.`name` AS 'subcontractor_name',
            `pm_phone_number`.`phone_number`, `pm_company`.`id` AS 'company_id',
            `pm_company`.`name` AS 'company_name'
        FROM `pm_subcontractor`
                 LEFT JOIN `pm_company` ON `pm_subcontractor`.`community_id` = `pm_company`.`id`
                 LEFT JOIN `pm_phone_number` ON `pm_subcontractor`.`id` = `pm_phone_number`.`source_id`
        WHERE `pm_company`.`subdistrict_id` = #{subdistrictId} AND `pm_phone_number`.`source_type` = 2
    </select>
    <select id="selectCorrelationAll" resultMap="correlationResultMap">
        SELECT `pm_subcontractor`.`id` AS 'subcontractor_id', `pm_subcontractor`.`name` AS 'subcontractor_name',
            `pm_phone_number`.`phone_number`, `pm_company`.`id` AS 'company_id',
            `pm_company`.`name` AS 'company_name'
        FROM `pm_subcontractor`
                 LEFT JOIN `pm_company` ON `pm_subcontractor`.`community_id` = `pm_company`.`id`
                 LEFT JOIN `pm_phone_number` ON `pm_subcontractor`.`id` = `pm_phone_number`.`source_id`
        WHERE `pm_phone_number`.`source_type` = 2
    </select>
    <select id="countForGroupSubdistrict" resultType="java.util.Map">
        SELECT ANY_VALUE(`pm_subdistrict`.`name`) AS 'name', COUNT(`pm_subcontractor`.`id`) AS 'value'
        FROM `pm_subcontractor`
                 LEFT JOIN `pm_company` ON `pm_subcontractor`.`community_id` = `pm_company`.`id`
                 LEFT JOIN `pm_subdistrict` ON `pm_subdistrict`.`id` = `pm_company`.`id`
    </select>
    <select id="countForGroupCommunity" resultType="java.util.Map">
        SELECT `pm_company`.`name`, COUNT(`pm_subcontractor`.`id`) AS 'value'
        FROM `pm_subcontractor`
                 LEFT JOIN `pm_company` ON `pm_subcontractor`.`community_id` = `pm_company`.`id`
        WHERE `pm_company`.`subdistrict_id` = #{subdistrictId}
        GROUP BY `pm_company`.`name`
    </select>
    <select id="countForGroupByCommunityId" resultType="java.util.Map">
        SELECT `pm_subcontractor`.`name`, COUNT(`pm_community_resident`.`id`) AS 'value'
        FROM `pm_subcontractor`
                 LEFT JOIN `pm_community_resident`
        ON `pm_subcontractor`.`id` = `pm_community_resident`.`subcontractor_id`
                 LEFT JOIN `pm_company` ON `pm_company`.`id` = `pm_subcontractor`.`community_id`
        WHERE `pm_company`.`id` = #{communityId}
        GROUP BY `pm_subcontractor`.`name`
    </select>
    <select id="getCorrelationById" resultMap="correlationResultMap">
        SELECT `pm_subcontractor`.`id` AS 'subcontractor_id',
            `pm_subcontractor`.`name` AS 'subcontractor_name',
            `pm_phone_number`.`phone_number`,
            `pm_company`.`id` AS 'company_id',
            `pm_company`.`name` AS 'company_name'
        FROM `pm_subcontractor`
                 LEFT JOIN `pm_company` ON `pm_subcontractor`.`community_id` = `pm_company`.`id`
                 LEFT JOIN `pm_phone_number` ON `pm_subcontractor`.`id` = `pm_phone_number`.`source_id`
        WHERE `pm_subcontractor`.`id` = #{id} AND `pm_phone_number`.`source_type` = 2
    </select>
</mapper>
