<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.phonenumbermanager.mapper.SystemUserMapper">
    <resultMap type="com.github.phonenumbermanager.entity.SystemUser" id="commonResultMap">
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="login_time" property="loginTime"/>
        <result column="login_ip" property="loginIp"/>
        <result column="is_locked" property="isLocked"/>
        <result column="is_enabled" property="isEnabled"/>
        <result column="account_expire_time" property="accountExpireTime"/>
        <result column="credential_expire_time" property="credentialExpireTime"/>
        <result column="level" property="level"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.MybatisEnumTypeHandler"/>
        <result column="company_id" property="companyId"/>
    </resultMap>
    <resultMap type="com.github.phonenumbermanager.entity.SystemUser" id="baseResultMap" extends="commonResultMap">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <resultMap type="com.github.phonenumbermanager.entity.SystemUser" id="aliasResultMap" extends="commonResultMap">
        <id property="id" column="system_user_id"/>
        <result column="system_user_create_time" property="createTime"/>
        <result column="system_user_update_time" property="updateTime"/>
    </resultMap>
    <resultMap type="com.github.phonenumbermanager.entity.SystemUser" id="correlationResultMap"
               extends="aliasResultMap">
        <collection property="userRoles" ofType="com.github.phonenumbermanager.entity.UserRole"
                    resultMap="com.github.phonenumbermanager.mapper.UserRoleMapper.correlationResultMap"/>
    </resultMap>
    <select id="selectAndRoles" resultMap="correlationResultMap">
        SELECT `pm_system_user`.`id` AS 'system_user_id',
            `pm_system_user`.`username`,
            `pm_system_user`.`login_time`,
            `pm_system_user`.`login_ip`,
            `pm_system_user`.`is_locked`,
            `pm_system_user`.`is_enabled`,
            `pm_system_user`.`account_expire_time`,
            `pm_system_user`.`credential_expire_time`,
            `pm_system_user`.`create_time` AS 'system_user_create_time',
            `pm_system_user`.`update_time` AS 'system_user_update_time',
            `pm_system_user`.`level`,
            `pm_system_user`.`company_id`,
            `pm_role`.`name` AS 'role_name',
            `pm_role`.`description` AS 'role_description'
        FROM `pm_system_user`
                 LEFT JOIN `pm_user_role` ON `pm_system_user`.`id` = `pm_user_role`.`user_id`
                 LEFT JOIN `pm_role` ON `pm_user_role`.`user_id` = `pm_role`.`id`
        ORDER BY `pm_system_user`.`id`
    </select>
    <select id="selectAndRoleById" resultMap="correlationResultMap">
        SELECT `pm_system_user`.`id` AS 'system_user_id',
            `pm_system_user`.`username`,
            `pm_system_user`.`is_locked`,
            `pm_system_user`.`is_enabled`,
            `pm_system_user`.`account_expire_time`,
            `pm_system_user`.`credential_expire_time`,
            `pm_system_user`.company_id,
            `pm_system_user`.`create_time` AS 'system_user_create_time',
            `pm_system_user`.`update_time` AS 'system_user_update_time',
            `pm_system_user`.`level`,
            `pm_system_user`.`company_id`,
            `pm_role`.`name` AS 'role_name'
        FROM `pm_system_user`
                 LEFT JOIN `pm_user_role` ON `pm_system_user`.`id` = `pm_user_role`.`user_id`
                 LEFT JOIN `pm_role` ON `pm_user_role`.`user_id` = `pm_role`.`id`
        WHERE `pm_system_user`.`id` = #{id}
    </select>
    <select id="selectAndRolesByName" resultMap="correlationResultMap">
        SELECT `pm_system_user`.`id` AS 'system_user_id',
            `pm_system_user`.`username`,
            `pm_system_user`.`password`,
            `pm_system_user`.`login_time`,
            `pm_system_user`.`login_ip`,
            `pm_system_user`.`is_locked`,
            `pm_system_user`.`is_enabled`,
            `pm_system_user`.`account_expire_time`,
            `pm_system_user`.`credential_expire_time`,
            `pm_system_user`.`create_time` AS 'system_user_create_time',
            `pm_system_user`.`update_time` AS 'system_user_update_time',
            `pm_system_user`.`level`,
            `pm_system_user`.`company_id`,
            `pm_role`.`name` AS 'role_name',
            `pm_role`.`description` AS 'role_description',
            `pm_role`.`parent_id` AS 'role_parent_id'
        FROM `pm_system_user`
                 LEFT JOIN `pm_user_role` ON `pm_system_user`.`id` = `pm_user_role`.`user_id`
                 LEFT JOIN `pm_role` ON `pm_user_role`.`user_id` = `pm_role`.`id`
        WHERE `pm_system_user`.`username` = #{username}
    </select>
    <select id="selectIdAndName" resultMap="baseResultMap">
        SELECT `id`, `username`
        FROM `pm_system_user`
    </select>
    <select id="selectByRoleId" resultMap="correlationResultMap">
        SELECT `pm_system_user`.`id` AS 'system_user_id',
            `pm_system_user`.`username`,
            `pm_system_user`.`password`,
            `pm_system_user`.`login_time`,
            `pm_system_user`.`login_ip`,
            `pm_system_user`.`is_locked`,
            `pm_system_user`.`is_enabled`,
            `pm_system_user`.`account_expire_time`,
            `pm_system_user`.`credential_expire_time`,
            `pm_system_user`.`create_time` AS 'system_user_create_time',
            `pm_system_user`.`update_time` AS 'system_user_update_time',
            `pm_system_user`.`level`,
            `pm_system_user`.`company_id`,
            `pm_user_role`.`role_id`
        FROM `pm_system_user`
                 LEFT JOIN `pm_user_role` ON `pm_system_user`.`id` = `pm_user_role`.`user_id`
        WHERE `pm_user_role`.`role_id` = #{roleId}
    </select>
    <select id="countByRoleId" resultType="java.lang.Long">
        SELECT COUNT(`pm_system_user`.`id`)
        FROM `pm_system_user`
                 LEFT JOIN `pm_user_role` ON `pm_system_user`.`id` = `pm_user_role`.`user_id`
        WHERE `pm_user_role`.`role_id` = #{roleId}
    </select>
</mapper>
