<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.phonenumbermanager.mapper.UserRoleMapper">
    <resultMap type="com.github.phonenumbermanager.entity.UserRole" id="commonResultMap">
    </resultMap>
    <resultMap type="com.github.phonenumbermanager.entity.UserRole" id="baseResultMap" extends="commonResultMap">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="parent_id" property="parentId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <resultMap type="com.github.phonenumbermanager.entity.UserRole" id="aliasResultMap" extends="commonResultMap">
        <id column="role_id" property="id"/>
        <result column="role_name" property="name"/>
        <result column="role_description" property="description"/>
        <result column="role_parent_id" property="parentId"/>
        <result column="role_create_time" property="createTime"/>
        <result column="role_update_time" property="updateTime"/>
    </resultMap>
    <resultMap type="com.github.phonenumbermanager.entity.UserRole" id="correlationResultMap" extends="aliasResultMap">
        <collection property="systemUsers" ofType="com.github.phonenumbermanager.entity.SystemUser"
                    resultMap="com.github.phonenumbermanager.mapper.SystemUserMapper.aliasResultMap"/>
        <collection property="userPrivileges" ofType="com.github.phonenumbermanager.entity.UserPrivilege"
                    resultMap="com.github.phonenumbermanager.mapper.UserPrivilegeMapper.aliasResultMap"/>
    </resultMap>
    <select id="selectAndSystemUsers" resultMap="correlationResultMap">
        SELECT `pm_role`.`id` AS 'role_id',
            `pm_role`.`name` AS 'role_name',
            `pm_role`.`description` AS 'role_description',
            `pm_role`.`create_time` AS 'role_create_time',
            `pm_role`.`update_time` AS 'role_update_time',
            `pm_role`.`parent_id` AS 'role_parent_id',
            `pm_system_user`.`id` AS 'system_user_id',
            `pm_system_user`.`username`,
            `pm_system_user`.`password`,
            `pm_system_user`.`login_time`,
            `pm_system_user`.`login_ip`,
            `pm_system_user`.`is_locked`,
            `pm_system_user`.`level`,
            `pm_system_user`.`company_id`
        FROM `pm_role`
                 LEFT JOIN `pm_system_user` ON `pm_role`.`id` = `pm_system_user`.`id`
        ORDER BY `pm_role`.`create_time`
    </select>
    <select id="selectAndPrivileges" resultMap="correlationResultMap">
        SELECT `pm_role`.`id` AS 'role_id',
            `pm_role`.`name` AS 'role_name',
            `pm_role`.`description` AS 'role_description',
            `pm_role`.`create_time` AS 'role_create_time',
            `pm_role`.`update_time` AS 'role_update_time',
            `pm_role`.`parent_id` AS 'role_parent_id',
            `pm_privilege`.`id` AS 'privilege_id',
            `pm_privilege`.`name` AS 'privilege_name',
            `pm_privilege`.`constraint_auth`,
            `pm_privilege`.`uri`,
            `pm_privilege`.`parent_id` AS `privilege_parent_id`,
            `pm_privilege`.`icon_name`,
            `pm_privilege`.`orders`,
            `pm_privilege`.`is_display`
        FROM `pm_role`
                 LEFT JOIN `pm_role_privilege` ON `pm_role`.`id` = `pm_role_privilege`.`role_id`
                 LEFT JOIN `pm_privilege` ON `pm_role_privilege`.`privilege_id` = `pm_privilege`.`id`
        ORDER BY `pm_role`.`id`
    </select>
    <select id="selectAndPrivilegesById" resultMap="correlationResultMap">
        SELECT `pm_role`.`id` AS 'role_id',
            `pm_role`.`name` AS 'role_name',
            `pm_role`.`description` AS 'role_description',
            `pm_role`.`create_time` AS 'role_create_time',
            `pm_role`.`update_time` AS 'role_update_time',
            `pm_role`.`parent_id` AS 'role_parent_id',
            `pm_privilege`.`id` AS 'privilege_id',
            `pm_privilege`.`name` AS 'privilege_name',
            `pm_privilege`.`constraint_auth`,
            `pm_privilege`.`uri`,
            `pm_privilege`.`parent_id` AS `privilege_parent_id`,
            `pm_privilege`.`icon_name`,
            `pm_privilege`.`orders`,
            `pm_privilege`.`is_display`
        FROM `pm_role`
                 LEFT JOIN `pm_role_privilege` ON `pm_role`.`id` = `pm_role_privilege`.`role_id`
                 LEFT JOIN `pm_privilege` ON `pm_role_privilege`.`privilege_id` = `pm_privilege`.`id`
        WHERE `pm_role`.`id` = #{id}
    </select>
    <select id="selectNameById" resultType="java.lang.String">
        SELECT `name`
        FROM `pm_role`
        WHERE `id` = #{id}
    </select>
</mapper>
