<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/index">
    <head th:replace="layouts/header :: commonHead('社区居民列表 - 社区居民管理', ~{::script})">
        <title></title>
        <script type="text/javascript" th:inline="javascript">
            var publicPrams = {createUrl: /*[[@{'/resident/create'}]]*/null, editUrl: /*[[@{'/resident/edit?id='}]]*/null, deleteUrl: /*[[@{'/resident/ajax_delete'}]]*/null, companySelectUrl: /*[[@{'/community/ajax_select'}]]*/null, importAsSystemUrl: /*[[@{'/resident/import_as_system'}]]*/null, loadSubdistrictsUrl: /*[[@{'/subdistrict/ajax_load'}]]*/null, loadDataUrl: /*[[@{'/resident/ajax_list'}]]*/null, downloadExcelUrl: /*[[@{'/resident/save_as_excel'}]]*/null, chooseSubmitUrl: /*[[@{'/community/choose_submit'}]]*/null};
            var data = {data: /*[[${communityResidents}]]*/null, dataType: /*[[${dataType}]]*/null, pageInfo: /*[[${pageInfo}]]*/null, companyTypes: /*[[${companyTypes}]]*/null, companyType: /*[[${companyType}]]*/null};
        </script>
        <script type="text/javascript" th:src="@{'/javascript/resident-list-bundle.js'}" th:if="${mode == null || mode != 'debug'}"></script>
    </head>
    <body>
        <th:block layout:fragment="content">
            <!-- Breadcrumb-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{'/'}" title="管理系统首页">管理系统首页</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="javascript:" title="社区居民管理">社区居民管理</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="javascript:" title="社区居民管理">社区居民管理</a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{'/resident/list'}" title="社区居民列表">社区居民列表</a>
                </li>
            </ol>
            <div id="resident_list" v-cloak></div>
        </th:block>
    </body>
</html>
