<!doctype html>
<html lang="zh-CN" layout:decorator="layouts/index" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
    <!--/*@thymesVar id="community" type="com.github.phonenumbermanager.entity.Community"*/-->
    <head th:replace="layouts/header :: commonHead('社区' + ${community == null ? '添加' : '编辑'} + ' - 社区管理', ~{::script})">
        <title></title>
        <script th:inline="javascript" type="text/javascript">
            var messageErrors = /*[[${messageErrors}]]*/null
            var community = /*[[${community}]]*/null
        </script>
        <script src="http://127.0.0.1:3000/community-edit-bundle.js" th:if="${debug}" type="text/javascript"></script>
        <script th:if="${!debug}" th:src="@{'/javascript/community-edit-bundle.js'}" type="text/javascript"></script>
    </head>
    <body>
        <th:block layout:fragment="content">
            <!-- Breadcrumb-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{'/'}" title="管理系统首页">管理系统首页</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="javascript:" title="社区管理">社区管理</a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{'/community/' + ${community == null ? 'create' : 'edit?id=' + community.id}}" th:text="${community} == null ? '社区添加' : '社区编辑'" th:title="${community} == null ? '社区添加' : '社区编辑'"></a>
                </li>
            </ol>
            <div class="container-fluid">
                <div class="card" id="edit_community" v-cloak>
                    <div class="card-header" th:text="${community} == null ? '社区添加' : '社区' + ${community.name} + '编辑'"></div>
                    <form @submit="submit" class="form-horizontal" method="post" th:action="@{'/community'}">
                        <div class="card-body">
                            <div :key="messageError.defaultMessage" class="alert alert-danger" role="alert" v-for="messageError in messageErrors" v-if="messageErrors !== null">
                                {{ messageError.defaultMessage }}
                                <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="name">社区名称</label>
                                <div class="col-md-9">
                                    <input :class="['form-control', {'is-invalid': errorClasses[0]}]" id="name" name="name" placeholder="请输入社区名称" type="text" v-model="community.name">
                                    <span class="help-block">社区名称不允许超过10个字符</span>
                                    <div :style="errorClasses[0] && {'display': 'block'}" class="invalid-feedback" v-text="errorMessages[0]"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="landline">社区联系方式</label>
                                <div class="col-md-9">
                                    <input :class="['form-control', {'is-invalid': errorClasses[1]}]" id="landline" name="phoneNumbers[0].phoneNumber" placeholder="请输入社区联系方式" type="text" v-model="community.phoneNumbers[0].phoneNumber">
                                    <span class="help-block">社区联系方式允许输入办公电话</span>
                                    <div :style="errorClasses[1] && {'display': 'block'}" class="invalid-feedback" v-text="errorMessages[1]"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="actual_number">社区总人数</label>
                                <div class="col-md-9">
                                    <el-input-number :class="{'is-invalid': errorClasses[2]}" :min="1" id="actual_number" name="actualNumber" placeholder="请输入社区总人数" v-model="community.actualNumber"></el-input-number>
                                    <br> <span class="help-block">社区总人数只允许输入数字</span>
                                    <div :style="errorClasses[2] && {'display': 'block'}" class="invalid-feedback" v-text="errorMessages[2]"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">该社区是否已上报改社区居民</label>
                                <div class="col-md-9">
                                    <label class="switch switch-3d switch-primary">
                                        <input class="switch-input" type="checkbox" v-model="residentSubmitted">
                                        <input name="residentSubmitted" type="hidden" v-model="community.residentSubmitted">
                                        <span class="switch-slider"></span> </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">该社区是否已上报社区居民楼长</label>
                                <div class="col-md-9">
                                    <label class="switch switch-3d switch-primary">
                                        <input class="switch-input" type="checkbox" v-model="dormitorySubmitted">
                                        <input name="dormitorySubmitted" type="hidden" v-model="community.dormitorySubmitted">
                                        <span class="switch-slider"></span> </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="subdistrict_id">所属街道</label>
                                <div class="col-md-9">
                                    <select :class="['form-control', {'is-invalid': errorClasses[3]}]" id="subdistrict_id" name="subdistrictId" v-model="community.subdistrictId">
                                        <option :value="0">请选择</option>
                                        <!--/*@thymesVar id="subdistricts" type="java.util.List"*/-->
                                        <!--/*@thymesVar id="subdistrict" type="com.github.phonenumbermanager.entity.Subdistrict"*/-->
                                        <option th:attr="':value'=${subdistrict.id}" th:each="subdistrict, status : ${subdistricts}" th:text="${subdistrict.name}"></option>
                                    </select>
                                    <div :style="errorClasses[3] && {'display': 'block'}" class="invalid-feedback" v-text="errorMessages[3]"></div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
                            <input name="id" th:if="${community} != null" type="hidden" v-model="community.id">
                            <input name="_method" th:if="${community} != null" type="hidden" value="PUT">
                            <button class="btn btn-sm btn-primary" type="submit">
                                <i class="fa fa-dot-circle-o"></i>保存
                            </button>
                            <button @click="resetClass" class="btn btn-sm btn-danger" type="reset">
                                <i class="fa fa-ban"></i>重置
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </th:block>
    </body>
</html>
