<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/index">
    <!--/*@thymesVar id="user" type="com.github.phonenumbermanager.entity.SystemUser"*/-->
    <head th:replace="layouts/header :: commonHead('系统用户' + ${user == null ? '添加' : '编辑'} + ' - 系统用户管理', ~{::script})">
        <title></title>
        <script type="text/javascript" th:inline="javascript">
            var user = /*[[${user}]]*/null;
            var messageErrors = /*[[${messageErrors}]]*/null;
            var communityCompanyType = /*[[${communityCompanyType}]]*/null;
            var subdistrictCompanyType = /*[[${subdistrictCompanyType}]]*/null;
            var systemAdministratorId = /*[[${systemAdministratorId}]]*/null;
            var loadCompaniesUrl = /*[[@{'/community/ajax_select'}]]*/null;
            var loadCommunityUrl = /*[[@{'/community/ajax_load'}]]*/null;
        </script>
        <script type="text/javascript" th:src="@{'/javascript/user-edit-bundle.js'}" th:if="${mode == null || mode != 'debug'}"></script>
    </head>
    <body>
        <th:block layout:fragment="content">
            <!-- Breadcrumb-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{'/'}" title="管理系统首页">管理系统首页</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="javascript:" title="系统管理">系统管理</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="javascript:" title="系统用户管理">系统用户管理</a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{'/system/user_role/user/' + ${user == null ? 'create' : 'edit?id=' + user.id}}" th:title="${user} == null ? '用户添加' : '用户编辑'" th:text="${user} == null ? '用户添加' : '用户编辑'"></a>
                </li>
            </ol>
            <div class="container-fluid">
                <div class="card" id="edit_user" v-cloak>
                    <div class="card-header" th:text="${user} == null ? '用户添加' : '用户' + ${user.username} + '编辑'"></div>
                    <form class="form-horizontal" th:action="@{'/system/user_role/user/handle'}" method="post" @submit="submit">
                        <div class="card-body">
                            <div class="alert alert-danger" role="alert" v-if="messageErrors !== null" v-for="messageError in messageErrors" :key="messageError.defaultMessage">
                                {{messageError.defaultMessage}}
                                <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="username">系统用户名称</label>
                                <div class="col-md-9">
                                    <input type="text" name="username" :class="['form-control', {'is-invalid': errorClasses[0]}]" id="username" placeholder="请输入系统用户名称" v-model="user.username" :disabled="usernameIsDisabled">
                                    <span class="help-block">系统用户名称不允许超过10个字符</span>
                                    <div class="invalid-feedback" :style="errorClasses[0] && {'display': 'block'}" v-text="errorMessages[0]"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="password">系统用户密码</label>
                                <div class="col-md-9">
                                    <input id="password" type="password" name="password" :class="['form-control', {'is-invalid': errorClasses[1]}]" placeholder="请输入系统用户密码" v-model="user.password">
                                    <span class="help-block">系统用户密码不允许少于6位，且英文字母与数字混合</span>
                                    <div class="invalid-feedback" :style="errorClasses[1] && {'display': 'block'}" v-text="errorMessages[1]"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="confirm_password">确认系统用户密码</label>
                                <div class="col-md-9">
                                    <input type="password" name="confirmPassword" :class="['form-control', {'is-invalid': errorClasses[2]}]" id="confirm_password" placeholder="请确认系统用户密码" v-model="confirmPassword">
                                    <span class="help-block">如果不修改密码，请留空</span>
                                    <div class="invalid-feedback" :style="errorClasses[2] && {'display': 'block'}" v-text="errorMessages[2]"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="role_id">系统用户角色</label>
                                <div class="col-md-9">
                                    <select :class="['form-control', {'is-invalid': errorClasses[3]}]" id="role_id" name="roleId" v-model="user.roleId">
                                        <option :value="0">请选择</option>
                                        <!--/*@thymesVar id="userRoles" type="java.util.List"*/-->
                                        <!--/*@thymesVar id="userRole" type="com.github.phonenumbermanager.entity.UserRole"*/-->
                                        <option th:each="userRole, status : ${userRoles}" th:attr="':value'=${userRole.id}" th:text="${userRole.description}"></option>
                                    </select>
                                    <div class="invalid-feedback" :style="errorClasses[3] && {'display': 'block'}" v-text="errorMessages[3]"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="subdistrict_id">用户所属街道</label>
                                <div class="col-md-9">
                                    <select :class="['form-control', {'is-invalid': errorClasses[4]}]" id="subdistrict_id" name="subdistrictId" v-model="subdistrictId" @change="loadCommunities(subdistrictId)">
                                        <option :value="-1">请选择</option>
                                        <option :value="0">全部街道</option>
                                        <!--/*@thymesVar id="subdistricts" type="java.util.List"*/-->
                                        <option th:each="subdistrict, status : ${subdistricts}" th:attr="':value'=${subdistrict.id}" th:text="${subdistrict.name}"></option>
                                    </select>
                                    <div class="invalid-feedback" :style="errorClasses[4] && {'display': 'block'}" v-text="errorMessages[4]"></div>
                                </div>
                            </div>
                            <div class="form-group row" v-if="subdistrictId > 0">
                                <label class="col-md-3 col-form-label" for="community_id">用户所属社区</label>
                                <div class="col-md-9">
                                    <select :class="['form-control', {'is-invalid': errorClasses[5]}]" id="community_id" name="communityId" v-model="communityId">
                                        <option :value="0">请选择</option>
                                        <option :value="community.id" v-for="community in communities" :key="community.id" v-text="community.name"></option>
                                    </select>
                                    <div class="invalid-feedback" :style="errorClasses[5] && {'display': 'block'}" v-text="errorMessages[5]"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">是否锁定用户</label>
                                <div class="col-md-9">
                                    <label class="switch switch-3d switch-primary">
                                        <input class="switch-input" type="checkbox" v-model="locked">
                                        <input type="hidden" name="locked" v-model="user.locked">
                                        <span class="switch-slider"></span> </label>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <input type="hidden" th:name="${_csrf.parameterName}" v-model="csrfToken">
                            <input type="hidden" name="companyType" v-model="user.companyType">
                            <input type="hidden" name="companyId" v-model="user.companyId">
                            <input type="hidden" name="id" v-model="user.id" th:if="${user} != null">
                            <input type="hidden" name="_method" value="PUT" th:if="${user} != null">
                            <button class="btn btn-sm btn-primary" type="submit">
                                <i class="fa fa-dot-circle-o"></i>保存
                            </button>
                            <button class="btn btn-sm btn-danger" type="reset" @click="resetClass">
                                <i class="fa fa-ban"></i>重置
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </th:block>
    </body>
</html>
