<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.dao.CommunityResidentsDao">
	<resultMap type="CommunityResident" id="communityResidentResultMap">
		<id property="communityResidentId" column="community_resident_id" />
		<result property="communityResidentName" column="name" />
		<result property="communityResidentAddress" column="address" />
		<result property="communityResidentPhones" column="phones" />
		<result property="communityResidentSubcontractor" column="subcontractor" />
		<result property="communityResidentEditTime" column="edit_time" />
	</resultMap>
	<resultMap type="CommunityResident" id="AliasResultMap" extends="communityResidentResultMap">
		<result property="communityResidentName" column="community_resident_name" />
	</resultMap>
	<resultMap type="CommunityResident" id="communityResidentsCorrelationCommunityResultMap" extends="communityResidentResultMap">
		<association property="community" resultMap="main.dao.CommunitiesDao.communityResultMap" />
	</resultMap>
	<insert id="insertObject" parameterType="CommunityResident">
		INSERT INTO `pm_community_residents`(`name`, `address`, `phones`, `subcontractor`, `edit_time`, `community_id`) VALUES(#{communityResidentName}, #{communityResidentAddress}, #{communityResidentPhones}, #{communityResidentSubcontractor}, #{communityResidentEditTime}, #{communityId})
	</insert>
	<delete id="deleteObjectById" parameterType="integer">
		DELETE FROM `pm_community_residents` WHERE `community_resident_id` = #{communityResidentId}
	</delete>
    <delete id="deleteObjectsByName" parameterType="string">
        DELETE FROM `pm_community_residents` WHERE `name` = #{name}
    </delete>
    <update id="updateObject" parameterType="CommunityResident">
        UPDATE `pm_community_residents`
        <set>
			<if test="communityResidentId != null">
				`community_resident_id` = #{communityResidentId}
			</if>
			<if test="communityResidentName != null">
				, `name` = #{communityResidentName}
			</if>
			<if test="communityResidentAddress != null">
				, `address` = #{communityResidentAddress}
			</if>
			<if test="communityResidentPhones != null">
				, `phones` = #{communityResidentPhones}
			</if>
			<if test="communityResidentSubcontractor != null">
				, `subcontractor` = #{communityResidentSubcontractor}
			</if>
			<if test="communityResidentEditTime != null">
			 	, `edit_time` = #{communityResidentEditTime}
			</if>
			<if test="communityId != null">
			 	, `community_id` = #{communityId}
			</if>
		</set>
		WHERE `community_resident_id` = #{communityResidentId}
    </update>
	<select id="selectObjectsAll" resultMap="communityResidentResultMap">
		SELECT `community_resident_id`, `name`, `address`, `phones`, `subcontractor`, `edit_time` FROM `pm_community_residents` ORDER BY `community_resident_id`
	</select>
	<select id="selectObjectById" parameterType="integer" resultMap="communityResidentResultMap">
		SELECT `community_resident_id`, `name`, `address`, `phones`, `subcontractor`, `edit_time` FROM `pm_community_residents` WHERE `community_resident_id` = #{communityResidentId}
	</select>
	<select id="selectObjectsByName" parameterType="string" resultMap="communityResidentResultMap">
		SELECT `community_resident_id`, `name`, `address`, `phones`, `subcontractor`, `edit_time` FROM `pm_community_residents` WHERE `name` = #{communityResidentName} ORDER BY `community_resident_id`
	</select>
	<select id="selectObjectsByObject" parameterType="CommunityResident" resultMap="communityResidentResultMap">
		SELECT `community_resident_id`, `name`, `address`, `phones`, `subcontractor`, `edit_time` FROM `pm_community_residents`
		<where>
			1 = 1
			<if test="communityResidentId != null and communityResidentId != ''">
				and `community_resident_id` = #{communityResidentId}
			</if>
			<if test="communityResidentName != null and communityResidentName != ''">
				and `name` LIKE CONCAT('%', #{communityResidentName}, '%')
			</if>
			<if test="communityResidentAddress != null and communityResidentAddress != ''">
				and `address` LIKE CONCAT('%', #{communityResidentAddress}, '%')
			</if>
			<if test="communityResidentPhones != null and communityResidentPhones != ''">
				and `phones` LIKE CONCAT('%', #{communityResidentPhones}, '%')
			</if>
			<if test="communityResidentSubcontractor != null and communityResidentSubcontractor != ''">
				and `subcontractor` LIKE CONCAT('%', #{communityResidentSubcontractor}, '%')
			</if>
			<if test="communityResidentEditTime != null and communityResidentEditTime != ''">
			 	and `edit_time` = #{communityResidentEditTime}
			</if>
			<if test="communityId != null and communityId != ''">
			 	and `community_id` = #{communityId}
			</if>
		</where>
		ORDER BY `community_resident_id`
	</select>
	<select id="selectCommunityResidentAndCommunityById" parameterType="integer" resultMap="communityResidentsCorrelationCommunityResultMap">
		SELECT
			`pm_community_residents`.`community_resident_id`,
			`pm_community_residents`.`name`,
			`pm_community_residents`.`address`,
			`pm_community_residents`.`phones`,
			`pm_community_residents`.`subcontractor`,
			`pm_community_residents`.`edit_time`,
			`pm_communities`.`community_id`,
			`pm_communities`.`name` AS 'community_name',
			`pm_communities`.`telephone`,
			`pm_communities`.`actual_number`
		FROM
			`pm_community_residents`
		LEFT JOIN `pm_communities` ON `pm_community_residents`.`community_id` = `pm_communities`.`community_id`
		WHERE `pm_community_residents`.`community_resident_id` = #{communityResidentId}
	</select>
</mapper>