<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/index">
    <!--/*@thymesVar id="community" type="www.entity.Community"*/-->
    <head th:replace="layouts/header :: commonHead('社区' + ${community == null ? '添加' : '编辑'} + ' - 社区管理', ~{}, ~{::script})">
        <title></title>
        <script type="text/javascript" th:inline="javascript">
            var token = /*[[${_token}]]*/null;
            var messageErrors = /*[[${messageErrors}]]*/null;
            var community = /*[[${community}]]*/null;
        </script>
        <script type="text/javascript" th:src="@{'/javascript/dist/community-edit-bundle.js'}"></script>
    </head>
    <body>
        <th:block layout:fragment="content">
            <!-- Breadcrumb-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{'/'}" title="管理系统首页">管理系统首页</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="javascript:" title="社区管理">社区管理</a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{'/community/' + ${community == null ? 'create' : 'edit?id=' + community.communityId}}" th:title="${community} == null ? '社区添加' : '社区编辑'" th:text="${community} == null ? '社区添加' : '社区编辑'"></a>
                </li>
            </ol>
            <div class="container-fluid">
                <div class="card" id="edit_community" v-cloak>
                    <div class="card-header" th:text="${community} == null ? '社区添加' : '社区' + ${community.communityName} + '编辑'"></div>
                    <form class="form-horizontal" th:action="@{'/community/handle'}" method="post" @submit="communitySubmit">
                        <div class="card-body">
                            <div class="alert alert-danger" role="alert" v-if="messageErrors !== null" v-for="messageError in messageErrors" :key="messageError.defaultMessage">
                                {{messageError.defaultMessage}}
                                <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="community_name">社区名称</label>
                                <div class="col-md-9">
                                    <input type="text" name="communityName" :class="['form-control', {'is-invalid': errorClasses[0]}]" id="community_name" placeholder="请输入社区名称" v-model="community.communityName">
                                    <span class="help-block">社区名称不允许超过10个字符</span>
                                    <div class="invalid-feedback" :style="errorClasses[0] && {'display': 'block'}" v-text="errorMessages[0]"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="telephone">社区联系方式</label>
                                <div class="col-md-9">
                                    <input id="telephone" type="text" name="communityTelephone" :class="['form-control', {'is-invalid': errorClasses[1]}]" placeholder="请输入社区联系方式" v-model="community.communityTelephone">
                                    <span class="help-block">社区联系方式允许输入办公电话</span>
                                    <div class="invalid-feedback" :style="errorClasses[1] && {'display': 'block'}" v-text="errorMessages[1]"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="actual_number">社区总人数</label>
                                <div class="col-md-9">
                                    <input id="actual_number" type="number" name="actualNumber" :class="['form-control', {'is-invalid': errorClasses[2]}]" placeholder="请输入社区总人数" v-model="community.actualNumber">
                                    <span class="help-block">社区总人数只允许输入数字</span>
                                    <div class="invalid-feedback" :style="errorClasses[2] && {'display': 'block'}" v-text="errorMessages[2]"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="subdistrict_id">所属街道</label>
                                <div class="col-md-9">
                                    <select :class="['form-control', {'is-invalid': errorClasses[3]}]" id="subdistrict_id" name="subdistrictId" v-model="community.subdistrictId">
                                        <option :value="0">请选择</option>                                    <!--/*@thymesVar id="subdistricts" type="java.util.List"*/-->
                                        <!--/*@thymesVar id="subdistrict" type="www.entity.Subdistrict"*/-->
                                        <option th:each="subdistrict, status : ${subdistricts}" th:attr="':value'=${subdistrict.subdistrictId}" th:text="${subdistrict.subdistrictName}"></option>
                                    </select>
                                    <div class="invalid-feedback" :style="errorClasses[3] && {'display': 'block'}" v-text="errorMessages[3]"></div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <input type="hidden" name="_token" v-model="token">
                            <input type="hidden" name="communityId" v-model="community.communityId" th:if="${community} != null">
                            <input type="hidden" name="_method" value="PUT" th:if="${community} != null">
                            <button class="btn btn-sm btn-primary" type="submit">
                                <i class="fa fa-dot-circle-o"></i>保存
                            </button>
                            <button class="btn btn-sm btn-danger" type="reset" @click="resetClass">
                                <i class="fa fa-ban"></i>重置
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </th:block>
    </body>
</html>
