<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/index">
    <!--/*@thymesVar id="userPrivilege" type="www.entity.UserPrivilege"*/-->
    <head th:replace="layouts/header :: commonHead('系统用户权限' + ${userPrivilege == null ? '添加' : '编辑'} + ' - 系统用户权限管理 - 系统管理', ~{}, ~{::script})">
        <title></title>
        <script type="text/javascript" th:inline="javascript">
            var token = /*[[${_token}]]*/null;
            var messageErrors = /*[[${messageErrors}]]*/null;
            var userPrivilege = /*[[${userPrivilege}]]*/null;
            var userPrivileges = /*[[${userPrivileges}]]*/null;
        </script>
        <script type="text/javascript" th:src="@{'/javascript/dist/privilege-edit-bundle.js'}"></script>
    </head>
    <body>
        <th:block layout:fragment="content">
            <!-- Breadcrumb-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{'/'}" title="管理系统首页">管理系统首页</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="javascript:" title="系统管理">系统管理</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="javascript:" title="系统用户权限管理">系统用户权限管理</a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{'/system/user_role/privilege/' + ${userPrivilege == null ? 'create' : 'edit?id=' + userPrivilege.privilegeId}}" th:title="${userPrivilege} == null ? '系统用户权限添加' : '系统用户权限编辑'" th:text="${userPrivilege} == null ? '系统用户权限添加' : '系统用户权限编辑'"></a>
                </li>
            </ol>
            <div class="container-fluid">
                <div class="card" id="edit_privilege" v-cloak>
                    <div class="card-header" th:text="${userPrivilege} == null ? '用户权限添加' : '用户权限' + ${userPrivilege.privilegeName} + '编辑'"></div>
                    <form class="form-horizontal" th:action="@{'/system/user_role/privilege/handle'}" method="post" @submit="userPrivilegeSubmit">
                        <div class="card-body">
                            <div class="alert alert-danger" role="alert" v-if="messageErrors !== null" v-for="messageError in messageErrors" :key="messageError.defaultMessage">
                                {{messageError.defaultMessage}}
                                <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="privilege_name">系统用户权限名称</label>
                                <div class="col-md-9">
                                    <input type="text" name="privilegeName" :class="['form-control', {'is-invalid': errorClasses[0]}]" id="privilege_name" placeholder="请输入系统用户权限名称" v-model="userPrivilege.privilegeName">
                                    <span class="help-block">系统用户权限名称不允许超过10个字符</span>
                                    <div class="invalid-feedback" :style="errorClasses[0] && {'display': 'block'}" v-text="errorMessages[0]"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="constraint_auth">权限约束名称</label>
                                <div class="col-md-9">
                                    <input id="constraint_auth" type="text" name="constraintAuth" :class="['form-control', {'is-invalid': errorClasses[1]}]" placeholder="请输入系统权限约束名称" v-model="userPrivilege.constraintAuth">
                                    <span class="help-block">系统权限约束名称不允许多于50位</span>
                                    <div class="invalid-feedback" :style="errorClasses[1] && {'display': 'block'}" v-text="errorMessages[1]"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="uri">系统访问地址</label>
                                <div class="col-md-9">
                                    <input type="text" name="uri" :class="['form-control', {'is-invalid': errorClasses[2]}]" id="uri" placeholder="请输入系统访问地址" v-model="userPrivilege.uri">
                                    <span class="help-block">系统访问地址不允许多于100位</span>
                                    <div class="invalid-feedback" :style="errorClasses[2] && {'display': 'block'}" v-text="errorMessages[2]"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">是否在菜单栏中显示</label>
                                <div class="col-md-9">
                                    <label class="switch switch-3d switch-primary">
                                        <input class="switch-input" type="checkbox" name="isDisplay" v-model="userPrivilege.isDisplay">
                                        <span class="switch-slider"></span> </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="icon_name">菜单显示图标</label>
                                <div class="col-md-9">
                                    <input type="text" name="iconName" :class="['form-control', {'is-invalid': errorClasses[3]}]" id="icon_name" placeholder="请输入菜单显示图标" v-model="userPrivilege.iconName">
                                    <span class="help-block">菜单显示图标名称不允许多于50位</span>
                                    <div class="invalid-feedback" :style="errorClasses[3] && {'display': 'block'}" v-text="errorMessages[3]"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="higher_privilege">上级系统权限</label>
                                <div class="col-md-9">
                                    <select :class="['form-control', {'is-invalid': errorClasses[3]}]" id="higher_privilege" name="higherPrivilege" v-model="userPrivilege.higherPrivilege">
                                        <option :value="-1">请选择</option>
                                        <option value="0">无</option>
                                        <!--/*@thymesVar id="userPrivileges" type="java.util.List"*/-->
                                        <!--/*@thymesVar id="privilege" type="www.entity.UserPrivilege"*/-->
                                        <option th:each="privilege, status : ${userPrivileges}" th:attr="':value'=${privilege.privilegeId}" th:disabled="${userPrivilege != null && userPrivilege.privilegeId == privilege.privilegeId ? 'disabled' : ''}" th:text="${privilege.privilegeName}"></option>
                                    </select>
                                    <div class="invalid-feedback" :style="errorClasses[4] && {'display': 'block'}" v-text="errorMessages[4]"></div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <input type="hidden" name="_token" v-model="token">
                            <input type="hidden" name="privilegeId" v-model="userPrivilege.privilegeId" th:if="${userPrivilege} != null">
                            <input type="hidden" name="_method" value="PUT" th:if="${userPrivilege} != null">
                            <button class="btn btn-sm btn-primary" type="submit">
                                <i class="fa fa-dot-circle-o"></i>保存
                            </button>
                            <button class="btn btn-sm btn-danger" type="reset" @click="resetClass">
                                <i class="fa fa-ban"></i>重置
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </th:block>
    </body>
</html>
