<!doctype html>
<html lang="zh-CN" layout:decorator="layouts/index" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
    <!--/*@thymesVar id="configuration" type="com.github.phonenumbermanager.entity.Configuration"*/-->
    <head th:replace="layouts/header :: commonHead('系统配置项' + ${configuration == null ? '添加' : '编辑'} + ' - 系统管理', ~{::script})">
        <title></title>
        <script th:inline="javascript" type="text/javascript">
            var loadUsersUrl = /*[[@{'/system/user_role/user/ajax_get'}]]*/null
            var configuration = /*[[${configuration}]]*/null
            var messageErrors = /*[[${messageErrors}]]*/null
        </script>
        <script src="http://127.0.0.1:3000/configuration-edit-bundle.js" th:if="${debug}" type="text/javascript"></script>
        <script th:if="${!debug}" th:src="@{'/javascript/configuration-edit-bundle.js'}" type="text/javascript"></script>
    </head>
    <body>
        <th:block layout:fragment="content">
            <!-- Breadcrumb-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{'/'}" title="管理系统首页">管理系统首页</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="javascript:" title="系统管理">系统管理</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="javascript:" title="系统配置项">系统配置项</a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{'/system/configuration/' + ${configuration == null ? 'create' : 'edit/' + configuration.key}}" th:text="${configuration} == null ? '系统配置项添加' : '系统配置项编辑'"></a>
                </li>
            </ol>
            <div class="container-fluid">
                <div class="card" id="edit_configuration" v-cloak>
                    <div class="card-header" th:text="${configuration} == null ? '系统配置项添加' : '系统配置项' + ${configuration.key} + '编辑'"></div>
                    <form @submit="submit" class="form-horizontal" method="post" th:action="@{'/system/configuration'}">
                        <div class="card-body">
                            <div :key="messageError.defaultMessage" class="alert alert-danger" role="alert" v-for="messageError in messageErrors" v-if="messageErrors !== null">
                                {{ messageError.defaultMessage }}
                                <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="key">系统配置项关键字名称</label>
                                <div class="col-md-9">
                                    <input :class="['form-control', {'is-invalid': errorClasses[0]}]" :readonly="!configuration.keyChanged" id="key" name="key" placeholder="请输入系统配置项关键字名称" type="text" v-model="configuration.key">
                                    <span class="help-block">系统配置项关键字名称不允许超过50个字符</span>
                                    <div :style="errorClasses[0] && {'display': 'block'}" class="invalid-feedback" v-text="errorMessages[0]"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="description">系统配置项描述</label>
                                <div class="col-md-9">
                                    <input :class="['form-control', {'is-invalid': errorClasses[1]}]" id="description" name="description" placeholder="请输入系统配置项描述" type="text" v-model="configuration.description">
                                    <span class="help-block">系统配置项描述不允许超过60个字符</span>
                                    <div :style="errorClasses[1] && {'display': 'block'}" class="invalid-feedback" v-text="errorMessages[1]"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="configuration_type">系统配置项值类别</label>
                                <div class="col-md-9">
                                    <select :class="['form-control', {'is-invalid': errorClasses[2]}]" @change="loadUsers" id="configuration_type" name="type" v-model="configuration.type">
                                        <option :value="0">请选择</option>
                                        <option :value="1">布尔类型</option>
                                        <option :value="2">字符串类型</option>
                                        <option :value="3">数值类型</option>
                                        <option :value="4">系统用户</option>
                                    </select>
                                    <div :style="errorClasses[2] && {'display': 'block'}" class="invalid-feedback" v-text="errorMessages[2]"></div>
                                </div>
                            </div>
                            <div class="form-group row" v-if="configuration.type !== 0">
                                <label class="col-md-3 col-form-label" for="configuration_value">系统配置项值</label>
                                <div class="col-md-9">
                                    <div class="form-check form-check-inline mr-1" v-if="configuration.type === 1">
                                        <input :value="1" class="form-check-input" id="inline-radio1" name="value" type="radio" v-model="configuration.value">
                                        <label class="form-check-label" for="inline-radio1">是</label>
                                    </div>
                                    <div class="form-check form-check-inline mr-1" v-if="configuration.type === 1">
                                        <input :value="0" class="form-check-input" id="inline-radio2" name="value" type="radio" v-model="configuration.value">
                                        <label class="form-check-label" for="inline-radio2">否</label>
                                    </div>
                                    <input :class="['form-control', {'is-invalid': errorClasses[2]}]" id="configuration_value" name="value" placeholder="请输入系统配置项值" type="text" v-if="configuration.type === 2" v-model="configuration.value">
                                    <input :class="['form-control', {'is-invalid': errorClasses[2]}]" id="configuration_value" name="value" placeholder="请输入系统配置项值" type="number" v-if="configuration.type === 3" v-model="configuration.value">
                                    <select :class="['form-control', {'is-invalid': errorClasses[2]}]" id="configuration_value" name="value" v-if="configuration.type === 4" v-model="configuration.value">
                                        <option :value="0">请选择</option>
                                        <option :value="user.id" v-for="user in users" v-text="user.name"></option>
                                    </select>
                                    <span class="help-block" v-if="configuration.type === 2 || configuration.type === 3">系统配置项值不允许超过15个字符</span>
                                    <div :style="errorClasses[2] && {'display': 'block'}" class="invalid-feedback" v-text="errorMessages[2]"></div>
                                </div>
                            </div>
                            <div class="form-group row" th:if="${configuration == null}">
                                <label class="col-md-3 col-form-label">系统配置项关键字名称是否允许更改</label>
                                <div class="col-md-9">
                                    <label class="switch switch-3d switch-primary">
                                        <input class="switch-input" name="keyChanged" type="checkbox" v-model="configuration.keyChanged">
                                        <span class="switch-slider"></span> </label>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <input th:name="${_csrf.parameterName}" type="hidden" v-model="csrfToken">
                            <input name="_method" th:if="${configuration} != null" type="hidden" value="PUT">
                            <button class="btn btn-sm btn-primary" type="submit">
                                <i class="fa fa-dot-circle-o"></i>保存
                            </button>
                            <button @click="resetClass" class="btn btn-sm btn-danger" type="reset">
                                <i class="fa fa-ban"></i>重置
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </th:block>
    </body>
</html>
