<!doctype html>
<html lang="zh-CN" layout:decorator="layouts/index" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
    <!--/*@thymesVar id="user" type="com.github.phonenumbermanager.entity.SystemUser"*/-->
    <head th:replace="layouts/header :: commonHead('系统用户' + ${user == null ? '添加' : '编辑'} + ' - 系统用户管理', ~{::script})">
        <title></title>
        <script th:inline="javascript" type="text/javascript">
            var user = /*[[${user}]]*/null
            var messageErrors = /*[[${messageErrors}]]*/null
            var communityCompanyType = /*[[${communityCompanyType}]]*/null
            var subdistrictCompanyType = /*[[${subdistrictCompanyType}]]*/null
            var systemAdministratorId = /*[[${systemAdministratorId}]]*/null
            var loadCompaniesUrl = /*[[@{'/community/select'}]]*/null
            var loadCommunityUrl = /*[[@{'/community/load'}]]*/null
        </script>
        <script src="http://127.0.0.1:3000/user-edit-bundle.js" th:if="${debug}" type="text/javascript"></script>
        <script th:if="${!debug}" th:src="@{'/javascript/user-edit-bundle.js'}" type="text/javascript"></script>
    </head>
    <body>
        <th:block layout:fragment="content">
            <!-- Breadcrumb-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{'/'}" title="管理系统首页">管理系统首页</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="javascript:" title="系统管理">系统管理</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="javascript:" title="系统用户管理">系统用户管理</a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{'/system/user_role/user/' + ${user == null ? 'create' : 'edit/' + user.id}}" th:text="${user} == null ? '用户添加' : '用户编辑'" th:title="${user} == null ? '用户添加' : '用户编辑'"></a>
                </li>
            </ol>
            <div class="container-fluid">
                <div class="card" id="edit_user" v-cloak>
                    <div class="card-header" th:text="${user} == null ? '用户添加' : '用户' + ${user.username} + '编辑'"></div>
                    <form @submit="submit" class="form-horizontal" method="post" th:action="@{'/system/user_role/user'}">
                        <div class="card-body">
                            <div :key="messageError.defaultMessage" class="alert alert-danger" role="alert" v-for="messageError in messageErrors" v-if="messageErrors !== null">
                                {{ messageError.defaultMessage }}
                                <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="username">系统用户名称</label>
                                <div class="col-md-9">
                                    <input :class="['form-control', {'is-invalid': errorClasses[0]}]" :disabled="usernameIsDisabled" id="username" name="username" placeholder="请输入系统用户名称" type="text" v-model="user.username">
                                    <span class="help-block">系统用户名称不允许超过10个字符</span>
                                    <div :style="errorClasses[0] && {'display': 'block'}" class="invalid-feedback" v-text="errorMessages[0]"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="password">系统用户密码</label>
                                <div class="col-md-9">
                                    <input :class="['form-control', {'is-invalid': errorClasses[1]}]" id="password" name="password" placeholder="请输入系统用户密码" type="password" v-model="user.password">
                                    <span class="help-block">系统用户密码不允许少于6位，且英文字母与数字混合</span>
                                    <div :style="errorClasses[1] && {'display': 'block'}" class="invalid-feedback" v-text="errorMessages[1]"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="confirm_password">确认系统用户密码</label>
                                <div class="col-md-9">
                                    <input :class="['form-control', {'is-invalid': errorClasses[2]}]" id="confirm_password" name="confirmPassword" placeholder="请确认系统用户密码" type="password" v-model="confirmPassword">
                                    <span class="help-block">如果不修改密码，请留空</span>
                                    <div :style="errorClasses[2] && {'display': 'block'}" class="invalid-feedback" v-text="errorMessages[2]"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="role_id">系统用户角色</label>
                                <div class="col-md-9">
                                    <select :class="['form-control', {'is-invalid': errorClasses[3]}]" id="role_id" name="roleId" v-model="user.roleId">
                                        <option :value="0">请选择</option>
                                        <!--/*@thymesVar id="userRoles" type="java.util.List"*/-->
                                        <!--/*@thymesVar id="userRole" type="com.github.phonenumbermanager.entity.UserRole"*/-->
                                        <option th:attr="':value'=${userRole.id}" th:each="userRole, status : ${userRoles}" th:text="${userRole.description}"></option>
                                    </select>
                                    <div :style="errorClasses[3] && {'display': 'block'}" class="invalid-feedback" v-text="errorMessages[3]"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="subdistrict_id">用户所属街道</label>
                                <div class="col-md-9">
                                    <select :class="['form-control', {'is-invalid': errorClasses[4]}]" @change="loadCommunities(subdistrictId)" id="subdistrict_id" name="subdistrictId" v-model="subdistrictId">
                                        <option :value="-1">请选择</option>
                                        <option :value="0">全部街道</option>
                                        <!--/*@thymesVar id="subdistricts" type="java.util.List"*/-->
                                        <option th:attr="':value'=${subdistrict.id}" th:each="subdistrict, status : ${subdistricts}" th:text="${subdistrict.name}"></option>
                                    </select>
                                    <div :style="errorClasses[4] && {'display': 'block'}" class="invalid-feedback" v-text="errorMessages[4]"></div>
                                </div>
                            </div>
                            <div class="form-group row" v-if="subdistrictId > 0">
                                <label class="col-md-3 col-form-label" for="community_id">用户所属社区</label>
                                <div class="col-md-9">
                                    <select :class="['form-control', {'is-invalid': errorClasses[5]}]" id="community_id" name="communityId" v-model="communityId">
                                        <option :value="0">请选择</option>
                                        <option :key="community.id" :value="community.id" v-for="community in communities" v-text="community.name"></option>
                                    </select>
                                    <div :style="errorClasses[5] && {'display': 'block'}" class="invalid-feedback" v-text="errorMessages[5]"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">是否锁定用户</label>
                                <div class="col-md-9">
                                    <label class="switch switch-3d switch-primary">
                                        <input class="switch-input" type="checkbox" v-model="locked">
                                        <input name="locked" type="hidden" v-model="user.locked">
                                        <span class="switch-slider"></span> </label>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <input th:name="${_csrf.parameterName}" type="hidden" v-model="csrfToken">
                            <input name="companyType" type="hidden" v-model="user.companyType">
                            <input name="companyId" type="hidden" v-model="user.companyId">
                            <input name="id" th:if="${user} != null" type="hidden" v-model="user.id">
                            <input name="_method" th:if="${user} != null" type="hidden" value="PUT">
                            <button class="btn btn-sm btn-primary" type="submit">
                                <i class="fa fa-dot-circle-o"></i>保存
                            </button>
                            <button @click="resetClass" class="btn btn-sm btn-danger" type="reset">
                                <i class="fa fa-ban"></i>重置
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </th:block>
    </body>
</html>
