<!doctype html>
<html lang="zh-CN" layout:decorator="layouts/index" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
    <!--/*@thymesVar id="userRole" type="com.github.phonenumbermanager.entity.UserRole"*/-->
    <head th:replace="layouts/header :: commonHead('系统用户角色' + ${userRole == null ? '添加' : '编辑'} + ' - 系统用户角色管理 - 系统管理', ~{::script})">
        <title></title>
        <script th:inline="javascript" type="text/javascript">
            var messageErrors = /*[[${messageErrors}]]*/null
            var userRole = /*[[${userRole}]]*/null
            var userRoles = /*[[${userRoles}]]*/null
            var userPrivileges = /*[[${userPrivileges}]]*/null
        </script>
        <script src="http://127.0.0.1:3000/role-edit-bundle.js" th:if="${debug}" type="text/javascript"></script>
        <script th:if="${!debug}" th:src="@{'/javascript/role-edit-bundle.js'}" type="text/javascript"></script>
    </head>
    <body>
        <th:block layout:fragment="content">
            <!-- Breadcrumb-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{'/'}" title="管理系统首页">管理系统首页</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="javascript:" title="系统管理">系统管理</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="javascript:" title="系统用户角色管理">系统用户角色管理</a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{'/system/user_role/role/' + ${userRole == null ? 'create' : 'edit/' + userRole.id}}" th:text="${userRole} == null ? '系统用户角色添加' : '系统用户角色编辑'" th:title="${userRole} == null ? '系统用户角色添加' : '系统用户角色编辑'"></a>
                </li>
            </ol>
            <div class="container-fluid">
                <div class="card" id="edit_role" v-cloak>
                    <div class="card-header" th:text="${userRole} == null ? '用户角色添加' : '用户角色' + ${userRole.name} + '编辑'"></div>
                    <form @submit="submit" class="form-horizontal" method="post" th:action="@{'/system/user_role/role'}">
                        <div class="card-body">
                            <div :key="messageError.defaultMessage" class="alert alert-danger" role="alert" v-for="messageError in messageErrors" v-if="messageErrors !== null">
                                {{ messageError.defaultMessage }}
                                <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="name">系统用户角色名称</label>
                                <div class="col-md-9">
                                    <input :class="['form-control', {'is-invalid': errorClasses[0]}]" id="name" name="name" placeholder="请输入系统用户角色名称" type="text" v-model="userRole.name">
                                    <span class="help-block">系统用户角色名称不允许超过20个字符，且必须以“ROLE_”开头英文字母或数字</span>
                                    <div :style="errorClasses[0] && {'display': 'block'}" class="invalid-feedback" v-text="errorMessages[0]"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="description">系统用户角色描述</label>
                                <div class="col-md-9">
                                    <input :class="['form-control', {'is-invalid': errorClasses[1]}]" id="description" name="description" placeholder="请输入系统用户角色描述" type="text" v-model="userRole.description">
                                    <span class="help-block">系统用户角色描述不允许多于255位</span>
                                    <div :style="errorClasses[1] && {'display': 'block'}" class="invalid-feedback" v-text="errorMessages[1]"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="parent_id">上级角色</label>
                                <div class="col-md-9">
                                    <select :class="['form-control', {'is-invalid': errorClasses[3]}]" id="parent_id" name="parentId" v-model="userRole.parentId">
                                        <option :value="-1">请选择</option>
                                        <option :value="0">无</option>
                                        <!--/*@thymesVar id="userRoles" type="java.util.List"*/-->
                                        <!--/*@thymesVar id="role" type="com.github.phonenumbermanager.entity.UserRole"*/-->
                                        <option th:attr="':value'=${role.id}" th:each="role, status : ${userRoles}" th:text="${role.name}"></option>
                                    </select>
                                    <div :style="errorClasses[3] && {'display': 'block'}" class="invalid-feedback" v-text="errorMessages[3]"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label">用户角色权限</label>
                                <div class="col-md-9">
                                    <input name="privilegeIds" type="hidden" v-model="privilegeIds">
                                    <el-tree :check-strictly="false" :data="privilegeTree" :default-checked-keys="checkedList" @check-change="checkChange" node-key="id" ref="tree" show-checkbox></el-tree>
                                </div>
                                <div :style="errorClasses[4] && {'display': 'block'}" class="invalid-feedback" v-text="errorMessages[4]"></div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
                            <input name="id" th:if="${userRole} != null" type="hidden" v-model="userRole.id">
                            <input name="_method" th:if="${userRole} != null" type="hidden" value="PUT">
                            <button class="btn btn-sm btn-primary" type="submit">
                                <i class="fa fa-dot-circle-o"></i>保存
                            </button>
                            <button @click="resetClass" class="btn btn-sm btn-danger" type="reset">
                                <i class="fa fa-ban"></i>重置
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </th:block>
    </body>
</html>
