<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/index">
    <head th:replace="layouts/header :: commonHead('系统用户角色列表 - 系统用户角色管理 - 系统管理', ~{::script})">
        <title></title>
        <script type="text/javascript" th:inline="javascript">
            var userRoles = /*[[${userRoles}]]*/null;
        </script>
        <script type="text/javascript" src="http://127.0.0.1:3000/role-list-bundle.js" th:if="${debug}"></script>
        <script type="text/javascript" th:src="@{'/javascript/role-list-bundle.js'}" th:if="${!debug}"></script>
    </head>
    <body>
        <th:block layout:fragment="content">
            <!-- Breadcrumb-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{'/'}" title="管理系统首页">管理系统首页</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="javascript:" title="系统管理">系统管理</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="javascript:" title="系统用户角色管理">系统用户角色管理</a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{'/system/user_role/role'}" title="系统用户角色列表">系统用户角色列表</a>
                </li>
            </ol>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="col-3 float-right">
                                    <a th:href="@{'/system/user_role/role/create'}" class="btn btn-block btn-primary" title="添加系统用户角色">添加系统用户角色</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered table-striped" id="role_table" v-cloak>
                                    <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>角色名称</th>
                                            <th>角色描述</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(userRole, index) in userRoles" :key="userRole.id">
                                            <td v-text="index + 1"></td>
                                            <td v-text="userRole.name"></td>
                                            <td v-text="userRole.description"></td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <a th:attr="':href'='\'' + @{'/system/user_role/role/edit/'} + '\' + userRole.id'" class="btn btn-sm btn-block btn-pill btn-secondary" title="点击修改">修改</a>
                                                    </div>
                                                    <div class="col-6">
                                                        <button class="btn btn-sm btn-block btn-pill btn-danger" type="button" title="点击删除" @click="deleteObject(userRole.id)">删除</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!--/*@thymesVar id="pageInfo" type="com.github.pagehelper"*/-->
                                <nav th:replace="layouts/pagination :: pagination('/system/user_role/role/', ${pageInfo})"></nav>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-->
                </div>
            </div>
        </th:block>
    </body>
</html>
