@charset "utf-8";
body {
    background-color: #fff;
}
.top {
    margin-top: 20px;
    .error-code {
        font-size: 150px;
        color: #e64918;
        text-align: right;
        font-weight: bold;
    }
    .error-message {
        h3 {
            font-size: 40px;
            font-weight: bold;
            color: #e64918;
        }
        .text {
            a {
                font-weight: bold;
            }
        }
    }
}

.bottom {
    img {
        display: block;
        width: 300px;
        height: 300px;
        margin: 0 auto;
    }
}
