@charset "UTF-8";
@import "~@scss/variable";
@import "~flag-icon-css/sass/flag-icon";
@import "~font-awesome/scss/font-awesome";
@import "~simple-line-icons/scss/simple-line-icons";
@import "~@coreui/coreui/scss/coreui";
@import "~@library/css/pace.min.css";
@import "~@library/scss/common";

@font-face {
    font-family: "webfont";
    src: url("~@library/fonts/webfont.eot");
    /* IE9 */
    src: url("~@library/fonts/webfont.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
    url("~@library/fonts/webfont.woff") format("woff"),
        /* chrome、firefox */
    url("~@library/fonts/webfont.ttf") format("truetype"),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("~@library/fonts/webfont.svg#webfont") format("svg");
    /* iOS 4.1- */
}

body {
    font-size: .65rem;

    a,
    button,
    .btn,
    .form-control {
        font-size: .65rem;
    }

    @import "~@scss/login";

    .app-header {
        .navbar-brand {
            display: block;
            background-image: none;
            color: #20a8d8;
            font: bold 1.6rem "webfont", serif !important;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            margin-left: 1.5rem;
            width: auto;
            height: auto;

            &:hover {
                color: #20a8d8;
            }
        }

        .sidebar-toggler {
            display: none;
        }
    }

    .app-body {
        @import "~@scss/sidebar";

        .main {
            .breadcrumb {
                a {
                    color: $a-color;
                }
            }

            .card {
                .card-header {
                    font-size: .8rem;

                    .search-inputs {
                        font-size: 0.65rem;
                    }
                }

                .card-body {
                    font-size: 0.7rem;

                    div {
                        div {
                            .help-block {
                                margin-left: 0.3rem;
                            }
                        }
                    }
                }
            }

            #index {
                .base-message {
                    > .card-header {
                        display: flex;
                        justify-content: space-between;
                        align-content: center;

                        h6 {
                            font-size: 0.8rem;
                        }

                        div {
                            display: flex;
                            justify-content: space-between;
                            align-content: center;

                            .form-group {
                                margin-bottom: 0;
                                display: flex;
                                align-content: center;

                                &:first-child {
                                    margin-right: 1vw;
                                }
                            }
                        }
                    }

                    > .card-body {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-around;

                        .callout {
                            margin-top: 1rem;
                            font-size: 0.7rem;
                        }

                        &.dormitory-body {
                            justify-content: space-between;

                            > div {
                                width: 48%;
                            }
                        }
                    }
                }

                .resident-chart {
                    .card-body {
                        .card-title {
                            display: flex;
                            justify-content: space-between;
                            align-content: center;
                            flex-wrap: wrap;

                            h6 {
                                flex: 2;
                                line-height: 3.1rem;
                            }

                            .el-switch {
                                margin: 1.2rem 1rem 0 0;
                            }
                        }

                        .chart-selected {
                            display: flex;
                            float: right;
                        }

                        .chart-wrapper {
                            .chartjs-render-monitor {
                                display: block;
                            }
                        }
                    }
                }
            }

            .pagination-custom {
                font-size: 13px;
                float: left;
                line-height: 2rem;
                margin: 0 0.5rem;
            }

            .pagination {
                .page-item {
                    .page-link:disabled {
                        font-size: 13px;
                        pointer-events: auto;
                        cursor: not-allowed;
                    }
                }
            }

        }
    }

    .cascader-panel {
        .el-cascader-panel {
            .el-cascader-menu {
                .el-scrollbar__wrap {
                    padding-bottom: 17px;
                    overflow-x: hidden;
                }
            }
        }
    }

    @import "~@scss/footer";
    @import "~@scss/media";
}
