@charset "UTF-8";
$flag-icon-css-path: "~flag-icon-css/flags";
$fa-font-path: "~font-awesome/fonts";
$simple-line-font-path: "~simple-line-icons/fonts/";
@import "~flag-icon-css/sass/flag-icon";
@import "~font-awesome/scss/font-awesome";
@import "~simple-line-icons/scss/simple-line-icons";
@import "~@coreui/coreui/scss/coreui";
@import "../../../../lib/css/pace.min.css";
@import "../../../../lib/css/common.css";

@font-face {
    font-family: "webfont";
    src: url("../../../../lib/fonts/webfont.eot");
    /* IE9 */
    src: url("../../../../lib/fonts/webfont.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("../../../../lib/fonts/webfont.woff") format("woff"),
        /* chrome、firefox */
        url("../../../../lib/fonts/webfont.ttf") format("truetype"),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
        url("../../../../lib/fonts/webfont.svg#webfont") format("svg");
    /* iOS 4.1- */
}

body {
    font-size: .65rem;

    a,
    button,
    .btn,
    .form-control {
        font-size: .65rem;
    }

    #login {
        #login_form {
            .card-body{
                h1 {
                    font-size: 1.8rem;
                }
            }
        }

        .login-captcha {
            padding: 0.5rem 0 1.5rem 1.5rem;
        }

        .login-about {
            text-align: center;

            p:first-of-type {
                text-align: left;
                text-indent: 2em;
            }

            p:last-of-type {
                font-size: 0.7rem;
                font-weight: bold;
                font-style: normal;
                text-indent: 2em;
                text-align: left;
            }
        }
    }

    .app-header {
        .navbar-brand {
            display: block;
            background-image: none;
            color: #20a8d8;
            font-family: "webfont", serif !important;
            font-size: 2rem;
            font-style: normal;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            margin-left: 1.5rem;
            width: auto;

            &:hover {
                color: #20a8d8;
            }
        }

        .sidebar-toggler {
            display: none;
        }
    }

    .app-body {
        .main {
            #index {
                .base-message {
                    >.card-header {
                        display: flex;
                        justify-content: space-between;
                        align-content: center;

                        div {
                            display: flex;
                            justify-content: space-between;
                            align-content: center;

                            .form-group {
                                margin-bottom: 0;
                                display: flex;
                                align-content: center;

                                &:first-child {
                                    margin-right: 1vw;
                                }
                            }
                        }
                    }

                    >.card-body {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-around;

                        .callout+.callout {
                            margin-top: 1rem;
                        }

                        &.dormitory-body {
                            justify-content: space-between;

                            >div {
                                width: 48%;
                            }
                        }
                    }
                }

                .resident-chart {
                    .card-body {
                        .card-title {
                            display: flex;
                            justify-content: space-between;
                            align-content: center;
                            flex-wrap: wrap;

                            h6 {
                                flex: 2;
                                line-height: 3.1rem;
                            }

                            .el-switch {
                                margin: 1.2rem 1rem 0 0;
                            }
                        }

                        .chart-selected {
                            display: flex;
                            float: right;
                        }

                        .chart-wrapper {
                            .chartjs-render-monitor {
                                display: block;
                            }
                        }
                    }
                }
            }

            .pagination-custom {
                font-size: 13px;
                float: left;
                line-height: 2rem;
                margin: 0 0.5rem;
            }

            .pagination {
                .page-item {
                    .page-link:disabled {
                        font-size: 13px;
                        pointer-events: auto;
                        cursor: not-allowed;
                    }
                }
            }

            .cascader-panel {
                .el-cascader-panel {
                    .el-cascader-menu {
                        .el-scrollbar__wrap {
                            padding-bottom: 17px;
                            overflow-x: hidden;
                        }
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 991.98px) {
        .app-header {
            .navbar-brand {
                display: contents;
                margin-left: 0;
            }

            .sidebar-toggler {
                display: block;
            }
        }

        .app-body {
            .main {
                .form-control {
                    font-size: .65rem;
                }
            }
        }
    }

    @media only screen and (max-width: 480px) {
        .app-body {
            .main {
                .form-control {
                    font-size: 1rem;
                }
            }
        }
    }
}
