@charset "UTF-8";
$flag-icon-css-path: "~flag-icon-css/flags";
$fa-font-path: "~font-awesome/fonts";
$simple-line-font-path: "~simple-line-icons/fonts/";
@import "~flag-icon-css/sass/flag-icon";
@import "~font-awesome/scss/font-awesome";
@import "~simple-line-icons/scss/simple-line-icons";
@import "~@coreui/coreui/scss/coreui";
@import "../../../../lib/css/pace.min.css";
@import "../../../../lib/css/common.css";
@import "../../../../lib/css/style.min.css";

@font-face {
    font-family: "webfont";
    src: url("../../../../lib/fonts/webfont.eot"); /* IE9 */
    src: url("../../../../lib/fonts/webfont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../../../../lib/fonts/webfont.woff") format("woff"), /* chrome、firefox */
    url("../../../../lib/fonts/webfont.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("../../../../lib/fonts/webfont.svg#webfont") format("svg"); /* iOS 4.1- */
}

.login-captcha {
    padding: 0.5rem 0 1.5rem 1.5rem;
}

.login-about {
    text-align: center;

    p:first-of-type {
        text-align: left;
        text-indent: 2em;
    }

    p:last-of-type {
        font-size: 0.8rem;
        font-weight: bold;
        font-style: normal;
        text-indent: 2em;
        text-align: left;
    }
}

.app-header {
    .navbar-brand {
        display: block;
        background-image: none;
        color: #20a8d8;
        font-family: "webfont", serif !important;
        font-size: 2rem;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-left: 1.5rem;

        &:hover {
            color: #20a8d8;
        }
    }
}

.sidebar-toggler {
    display: none;
}

@media (max-width: 991.98px) {
    .app-header {
        .navbar-brand {
            position: absolute;
            left: 50%;
            width: 0;
            margin-left: 0;
            display: contents;
        }

        .sidebar-toggler {
            display: block;
        }
    }
}

#index {
    .base-message {
        .card-header {
            .float-right {
                .form-group {
                    float: left;
                    margin: -1.5rem 0.5rem;
                }
            }
        }
    }

    .resident-chart {
        .card-body {
            .row {
                .chart-wrapper {
                    height: 300px;
                    margin-top: 40px;

                    .chartjs-render-monitor {
                        display: block;
                    }
                }
            }
        }
    }

    .index-dormitory-chart-switch {
        padding-top: 20px;
    }
}

.pagination-custom {
    font-size: 13px;
    float: left;
    line-height: 2rem;
    margin: 0 0.5rem;
}

.pagination {
    .page-item {
        .page-link:disabled {
            font-size: 13px;
            pointer-events: auto;
            cursor: not-allowed;
        }
    }
}

.el-scrollbar__wrap {
    overflow-x: hidden;
}
