# 开发环境配置文件
debug: true

custom:
    debug: true

spring:
    datasource:
        druid:
            filters: stat,wall,log4j2

            web-stat-filter:
                enabled: true
                url-pattern: /*
                exclusions: "*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*"
                session-stat-enable: true
                session-stat-max-count: 1000

            stat-view-servlet:
                enabled: true
                url-pattern: /druid/*
                reset-enable: false

management:
    endpoints:
        enabled-by-default: true
        web:
            exposure:
                include: "*"

    endpoint:
        health:
            show-details: always
