server:
    port: 8080

    compression:
        enabled: true

    undertow:
        buffer-size: 1024
        direct-buffers: true
        threads:
            io: 8
            worker: 64

# 数据库访问配置
spring:
    profiles:
        active: @profileActive@

    datasource:
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.cj.jdbc.Driver
        host: 127.0.0.1
        port: 3306
        url: jdbc:mysql://${spring.datasource.host}:${spring.datasource.port}/phone_number?useUnicode=true&characterEncoding=UTF8&useSSL=false&serverTimezone=GMT%2B8&allowMultiQueries=true
        username: root
        password: root
        initialization-mode: always
        continue-on-error: true
        sql-script-encoding: UTF-8
        druid:
            initial-size: 25
            min-idle: 5
            max-active: 100
            max-wait: 60000
            time-between-eviction-runs-millis: 60000
            min-evictable-idle-time-millis: 300000
            validation-query: SELECT 1 FROM DUAL
            test-while-idle: true
            test-on-borrow: false
            test-on-return: false

    main:
        allow-bean-definition-overriding: true

    redis:
        host-alias: 127.0.0.1
        port-alias: 6379
        host: ${spring.redis.host-alias}
        port: ${spring.redis.port-alias}

    mvc:
        throw-exception-if-no-handler-found: true
        hiddenmethod:
            filter:
                enabled: true

    servlet:
        multipart:
            max-file-size: 10MB
            max-request-size: 10MB

# Mybatis基础配置
mybatis-plus:
    mapper-locations: classpath:mybatis/mapper/*Mapper.xml
    type-aliases-package: com.github.phonenumbermanager.entity
    type-enums-package: com.github.phonenumbermanager.constant
    configuration:
        default-enum-type-handler: org.apache.ibatis.type.EnumOrdinalTypeHandler
        log-impl: org.apache.ibatis.logging.log4j2.Log4j2Impl

    global-config:
        db-config:
            table-prefix: pm_
            id-type: assign_id

jwt:
    header: Authorization
    base64-secret: ZmQ0ZGI5NjQ0MDQwY2I4MjMxY2Y3ZmI3MjdhN2ZmMjNhODViOTg1ZGE0NTBjMGM4NDA5NzYxMjdjOWMwYWRmZTBlZjlhNGY3ZTg4Y2U3YTE1ODVkZDU5Y2Y3OGYwZWE1NzUzNWQ2YjFjZDc0NGMxZWU2MmQ3MjY1NzJmNTE0MzI=
    token-validity-in-seconds: 86400
    token-validity-in-seconds-for-remember-me: 108000
    route:
        authentication:
            path: auth
            refresh: refresh

pagehelper:
    helper-dialect: mysql
    reasonable: false
    params: count=countSql

logging:
    pattern:
        console: "[%d{yyyy-MM-dd HH:mm:ss}] -- [%-5p]: [%c] -- %m%n %ex{5}"
        file: "[%d{yyyy-MM-dd HH:mm:ss}] -- [%-5p]: [%c] -- %m%n"
    file:
        path: /var/log/phone-number-manager
