server:
    port: 8080

    compression:
        enabled: true

    undertow:
        buffer-size: 1024
        direct-buffers: true
        threads:
            io: 8
            worker: 64

spring:
    profiles:
        active: @profileActive@

    main:
        allow-bean-definition-overriding: true

    mvc:
        throw-exception-if-no-handler-found: true
        hiddenmethod:
            filter:
                enabled: true

    servlet:
        multipart:
            max-file-size: 10MB
            max-request-size: 10MB

    cache:
        type: redis
        redis:
            time-to-live: 5184000

# Mybatis基础配置
mybatis-plus:
    mapper-locations: classpath:mybatis/mapper/*Mapper.xml
    type-aliases-package: com.github.phonenumbermanager.entity
    type-enums-package: com.github.phonenumbermanager.constant.enums
    configuration:
        log-impl: org.apache.ibatis.logging.log4j2.Log4j2Impl

    global-config:
        db-config:
            table-prefix: pm_
            id-type: assign_id
